:ruby
  content_for(:title) { 'Internacia Kalendaro | Eventa Servo' }
  content_for(:og_title) { 'Internacia Kalendaro | Eventa Servo' }
  content_for(:og_description) { 'Listo de la ĉefaj Esperanto-eventoj tutmonde' }

.box-white
  .text-center
    %h1 Internacia Kalendaro
    %p
      Jen listo de la ĉefaj Esperanto-eventoj tutmonde.
      %br
      Se laŭ vi mankas evento aŭ estas eraro, #{mail_to("kontakto@eventaservo.org", "informu nin per retmesaĝo")}.
    %hr
    = link_to "Pasintaj internaciaj eventoj", international_calendar_year_list_path, class: 'btn btn-sm btn-link'

  - @events.grouped_by_months.map do |date, events|
    %br
    %h3.text-divider= l(date, format: '%B %Y').upcase
    .row
      - events.each do |e|
        .col-12
          = event_flag(e)
          %strong= link_to(e.title, event_url(e.ligilo), class: ("cancelled" if e.cancelled))
          = display_organizations_for_event(e)
          %p.small
            %strong #{event_date(e)} en #{e.city}
            %br
            = e.description
          %hr
