.box-white
  .text-center
    %h1 Internacia kalendaro
    = link_to "Vidu internaciajn eventojn de aliaj jaroj", anoncoj_url, class: 'btn btn-sm btn-link'


  = render partial: "eventoj_hu" if params[:eventoj] == 'hu'

  - @events.grouped_by_months.map do |date, events|
    %br
    %h3.text-divider= l(date, format: '%B').upcase
    .row
      - events.each do |e|
        .col-12
          = event_flag(e)
          %strong= link_to(e.title, event_url(e.ligilo), class: ("cancelled" if e.cancelled))
          = display_organizations_for_event(e)
          %p.small
            %strong #{event_date(e)} en #{e.city}
            %br
            = e.description
          %hr
