.box-white
  .text-center
    %h1 Internacia kalendaro #{@year}
    = link_to "Vidu la nunan Internacian Kalendaron", international_calendar_path, class: 'btn btn-sm btn-link'

  - @events.grouped_by_months.map do |date, events|
    %br
    %h3.text-divider= l(date, format: '%B %Y').upcase
    .row
      - events.each do |e|
        .col-12
          = event_flag(e)
          %strong= link_to(e.title, event_url(e.ligilo), class: ("cancelled" if e.cancelled))
          = display_organizations_for_event(e)
          %p.small
            %strong #{event_date(e)} en #{e.city}
            %br
            = e.description
          %hr
