.box-white
  .text-center
    %h1 Internaciaj Kalendaroj laŭ jaroj
    = link_to "Nuna Internacia Kalendaro", international_calendar_path, class: 'btn btn-sm btn-link'

  %br
  %br

  .col-lg-8.offset-lg-2
    .row
      .col-6.font-weight-bold Jaro
      .col-6.font-weight-bold Eventoj

    - @events_by_year.each do |year, event_count|
      = link_to international_calendar_year_path(year: year.to_i), class: 'item-row small' do
        .col-6= year.to_i
        .col-6= event_count

= render partial: "eventoj_hu"
