<div class="box-white">
  <div class="text-center">
    <h1>Internaciaj Kalendaroj laŭ jaroj</h1>
    <%= link_to "Nuna Internacia Kalendaro", international_calendar_path, class: 'btn btn-sm btn-link' %>
  </div>

  <div class="col-lg-6 offset-lg-3 mt-4">
    <div class="border rounded overflow-hidden small">
      <div class="row g-0 align-items-center bg-success text-white text-uppercase fw-bold px-2 py-2 smaller">
        <div class="col-6">Jaro</div>
        <div class="col-6">Eventoj</div>
      </div>

      <% @events_by_year.each_with_index do |(year, event_count), i| %>
        <%= link_to international_calendar_year_path(year: year.to_i), class: "row g-0 align-items-center px-2 py-1 small hover-row text-decoration-none #{'border-bottom' unless i == @events_by_year.size - 1} #{'bg-body-tertiary' if i.odd?}" do %>
          <div class="col-6 fw-semibold text-success-emphasis"><%= year.to_i %></div>
          <div class="col-6 text-body-secondary"><%= event_count %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: "eventoj_hu" %>
</div>
