= semantic_form_for(:merge_users) do |f|

  %h1 ATTENTION!
  %p
    This will merge #{resource.name} into the target user.
    All of #{resource.name}'s events and organization's memberships will be moved to the target user.

  %h3 <strong>This process is not reversible!</strong>

  = f.inputs do
    = f.input :target_user_id, as: :select, collection: @user_list, required: true

  = f.actions do
    = f.action :submit, label: "Merge!", button_html: {"data-confirm".to_sym => "ARE YOU SURE?"}

