<div class="col-12 col-lg-4 offset-lg-4 col-sm-8 offset-sm-2">
  <div class="box-white">
    <div class="text-center">
      <h3>Eventa Servo</h3>
      <p class="fg-color-grayDark font-weight-bold">Resendu konfirminstrukciojn</p>
    </div>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.email_field :email, autocomplete: 'email', class: 'form-control', autofocus: true, placeholder: 'RetpoÅtadreso' %>
      </div>
      <%= f.submit 'Resendi', class: 'button-submit col-12' %>
    <% end %>

    <%= render partial: 'devise/shared/links' %>
  </div>
</div>
