.box-white.small
  .lead Forigitaj eventoj
  .item-row-header
    .col Titolo
    .col Loko
    .col Dato
    .col Uzanto
    .col Lasta informo

  - @events.each do |event|
    .item-row-no-chevron
      .col= event.title
      .col= event.city
      .col= format_date event.date_start
      .col= event.user.name
      .col
        = format_date event.updated_at
        = link_to icon('fas', 'plus-circle'), admin_recover_event_path(event.ligilo), method: :patch, class: 'fg-color-green'

