.box-white.small
  .lead Ĉiuj eventoj
  .item-row-header
    .col Titolo
    .col Loko
    .col Horzono
    .col Komenca tago
    .col Uzanto
    .col Lasta informo

  - @events.each do |event|
    - bg_color = (event.date_start < Time.zone.today) ? 'bg-color-gray' : nil
    = link_to event_path(code: event.ligilo), class: "item-row #{bg_color}" do
      .col= event.title
      .col= event.city
      .col= event.time_zone
      .col= event.komenca_tago
      .col= event.user.name
      .col= format_date event.updated_at

