.col-lg-6.offset-lg-3
  .box-white
    .lead Redakti vian profilon
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name, 'Nomo'
        = f.text_field :name, autocomplete: 'name', class: 'form-control', autofocus: true
      .form-group
        = f.label :email, 'Retadreso'
        = f.email_field :email, autocomplete: 'email', class: 'form-control'

      .row
        .col-lg-6
          .form-group
            = f.label :city, 'Urbo'
            = f.text_field :city, autocomplete: 'city', class: 'form-control'
        .col-lg-6
          .form-group
            = f.label :email, 'Lando'
            = f.select(:country_id, options_from_collection_for_select(Country.all, 'id', 'name'), {}, class: 'form-control select2')

      .form-group
        = f.label :avatar, 'Profilbildo'
        %br
        = display_user_image(@user)
        = f.file_field :avatar, class: 'form-control-file'

      .buttons-footer
        = link_to 'Nuligi', root_path, class: 'button-cancel'
        = f.submit 'Ĝisdatigi', class: 'button-submit'
