.col-lg-6.offset-lg-3
  .box-white
    .lead Redakti vian profilon
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :name
        = f.text_field :name, autocomplete: 'name', class: 'form-control', autofocus: true
      .form-group
        = f.label :email
        = f.email_field :email, autocomplete: 'email', class: 'form-control'

      .row
        .col-lg-6
          .form-group
            = f.label :city
            = f.text_field :city, autocomplete: 'city', class: 'form-control'
        .col-lg-6
          .form-group
            = f.label :country_id
            = f.select(:country_id, options_from_collection_for_select(Country.not_online, 'id', 'name', @user.country_id), {}, class: 'form-control select2-input')

      .row
        .col-lg-6
          .form-group
            = f.label :birthday, 'Naskiĝdato'
            = f.text_field :birthday, value: (resource.birthday.strftime("%d/%m/%Y") if resource.birthday?) , class: 'birthday form-control'
        .col-lg-6
          .form-group
            = f.label :ueacode, 'UEA-kodo'
            = f.text_field :ueacode, class: 'form-control', placeholder: '*ne deviga'

      .form-group
        = f.label :avatar
        %br
        = display_user_image(@user)
        = f.file_field :picture, class: 'form-control-file', accept: 'image/*'

      .form-group
        = f.label :authentication_token
        = f.text_field :authentication_token, readonly: true, class: 'form-control'
        .small= link_to "Krei novan API-ŝlosilon", api_v1_rekrei_api_kodon_url(current_user.id), class: 'form-text', data: { confirm: 'Ĉu vi certas? Ne eblas malfari tiun agon.' }

      .text-divider Organizoj
      - @user.organizoj.each do |organizo|
        = link_to organizo.short_name, organization_url(organizo.short_name), class: 'btn btn-sm btn-outline-primary'

      -# Kaŝita ĉar nuntempe ES ne plu sendas retlistojn
      -#
      -#.text-divider Retlistoj
      -#.form-check
      -#  = f.check_box :weekly_summary, class: 'form-check-input'
      -#  = f.label :weekly_summary, 'Semajna resumo', class: 'form-check-label'

      .buttons-footer
        = link_to 'Nuligi', root_path, class: 'button-cancel'
        = f.submit 'Ĝisdatigi', class: 'button-submit'
