.col-12.col-lg-6.offset-lg-3
  .box-white
    .text-center
      %h3 Eventa Servo
      %p.fg-color-grayDark.font-weight-bold
        Registriĝu por krei novajn eventojn.
        %br
        Estas senpage!

    = link_to 'Registriĝi per Facebook', user_facebook_omniauth_authorize_path, class: 'facebook-button col-12'
    %br
    %br
    .text-divider.font-weight-bold.fg-color-grayDark AŬ
    %br

    .alert.alert-info.small.mt-2.text-center
      Se vi havas dubon,
      = link_to "speku filmeton", "https://mallonge.net/es1", target: :_blank
      por klarigi kiel registriĝi.

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.text_field :name, autocomplete: 'name', required: true, class: 'form-control', autofocus: true, placeholder: 'Plena nomo'
      .form-group
        = f.email_field :email, autocomplete: 'email', required: true, class: 'form-control', placeholder: 'Retpoŝtadreso'
      .form-group
        = f.text_field :city, required: true, class: 'form-control', placeholder: 'Urbo'
      .form-group
        = f.select(:country_id, options_from_collection_for_select(Country.all, 'id', 'name'), { include_blank: '--- Elektu landon ---' }, class: 'form-control select2-input', required: true)
      .form-group
        = f.text_field :birthday, class: 'birthday form-control'
      .form-group
        = f.text_field :ueacode, class: 'form-control', placeholder: 'UEA-kodo *ne deviga'
      .form-group
        = f.password_field :password, required: true, class: 'form-control', placeholder: 'Pasvorto'
      .form-group
        = f.password_field :password, required: true, class: 'form-control', placeholder: 'Pasvorto-konfirmado'

      .form-group
        = text_field_tag 'sekurfrazo', nil, autocomplete: 'off', required: true, class: 'form-control', placeholder: 'Kiel nomiĝas nia lingvo?'

      = f.submit 'Registriĝi', class: 'btn btn-sm btn-success col-12'

  = render partial: 'devise/shared/links'
