.col-12.col-lg-4.offset-lg-4.col-sm-8.offset-sm-2
  .box-white
    .text-center
      %h3 Eventa Servo
      %p.fg-color-grayDark.font-weight-bold
        Registriĝu por krei novajn eventojn.
        %br
        Estas senpage!

    = link_to "Registri per Facebook", user_facebook_omniauth_authorize_path, class: 'facebook-button col-12'
    %br
    %br
    .text-divider.font-weight-bold.fg-color-grayDark AŬ
    %br

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.text_field :name, autocomplete: 'name', class: 'form-control', autofocus: true, placeholder: 'Plena nomo'
      .form-group
        = f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: 'Retpoŝt-adreso'
      .form-group
        = f.text_field :city, autocomplete: 'city', class: 'form-control', placeholder: 'Urbo'
      .form-group
        = f.select(:country_id, options_from_collection_for_select(Country.all, 'id', 'name'), {}, class: 'form-control select2-input')
      .form-group
        = f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Pasvorto'
      .form-group
        = f.password_field :password, autocomplete: 'new-password', class: 'form-control', placeholder: 'Pasvorto-konfirmado'

      = f.submit 'Registri', class: 'btn btn-sm btn-success col-12'

  = render partial: 'devise/shared/links'
