.box-white
  .box-header Eventoj
  - if events.empty?
    %p Neniu evento trovita
  - else
    %h5= pluralize(events.count, 'evento trovita', 'eventoj trovitaj')
    .table-responsive
      %table.table.table-sm.table-hover
        %thead
          %tr
            %th Titolo
            %th Urbo
            %th Dato
        %tbody
          - events.each do |event|
            %tr.small.pointer{ onclick: "window.location.href = '#{event_path(event.ligilo)}'",
              class: event_color_class(event) }
              %td= event_flag(event) + " #{event.title}"
              %td= event.city
              %td= event_date(event)
