.box-white
  .box-header Registritaj prezentoj
  - if videos.empty?
    %p Neniu registrita prezento trovita
  - else
    %h5= pluralize(videos.count, 'registrita prezento trovita', 'registritaj prezentoj trovitaj')
    .table-responsive
      %table.table.table-sm.table-hover
        %thead
          %tr
            %th Titolo
            %th Evento
            %th Dato
        %tbody
          - videos.each do |video|
            %tr.small.pointer{ onclick: "window.location.href = '#{video.url}'" }
              %td= video.title
              %td= video.evento.title
              %td= format_date(video.evento.komenca_dato, style: :month_year).downcase
