- if @interested_events.venontaj.any?
  .mb-5
    .lead Venontaj eventoj pri kiuj mi interesiÄas


    - @interested_events.venontaj.order(:date_start).each do |event|
      = link_to event_path(event.ligilo), class: 'item-row small' do
        .col-5
          = event_flag event
          = "#{event.city} - #{format_date(event.komenca_dato, style: :short)}"
        .col{class: ("cancelled" if event.cancelled)}= "#{event.title}"
