<% if future_events.any? %>
  <div class="mb-5">
    <div class="lead">Venontaj eventoj kies administranto mi estas</div>

    <div class="border rounded overflow-hidden small">
      <div class="row g-0 align-items-center bg-success text-white text-uppercase fw-bold smaller px-2 py-2">
        <div class="col-2">Dato</div>
        <div class="col">Evento</div>
        <div class="col-3">Loko</div>
      </div>

      <% future_events.order(:date_start).each_with_index do |e, i| %>
        <%= link_to event_path(code: e.ligilo), class: "row g-0 align-items-center px-2 py-1 small hover-row text-decoration-none text-dark #{'border-bottom' unless i == future_events.size - 1} #{'bg-body-tertiary' if i.odd?}" do %>
          <div class="col-2 fw-semibold text-success-emphasis small">
            <%= format_date(e.komenca_dato, style: :compact) %>
          </div>
          <div class="col fw-medium text-truncate <%= 'cancelled' if e.cancelled %>">
            <%= e.title %>
          </div>
          <div class="col-3 text-body-secondary text-truncate">
            <%= event_flag e %>
            <%= e.city %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if past_events.any? %>
  <div class="mb-5">
    <div class="lead">Pasintaj eventoj kies administranto mi estas</div>

    <div class="border rounded overflow-hidden small">
      <div class="row g-0 align-items-center bg-success text-white text-uppercase fw-bold smaller px-2 py-2">
        <div class="col-2">Dato</div>
        <div class="col">Evento</div>
        <div class="col-3">Loko</div>
      </div>

      <% past_events.order(date_start: :desc).each_with_index do |e, i| %>
        <%= link_to event_path(code: e.ligilo), class: "row g-0 align-items-center px-2 py-1 small hover-row text-decoration-none text-dark #{'border-bottom' unless i == past_events.size - 1} #{'bg-body-tertiary' if i.odd?}" do %>
          <div class="col-2 fw-semibold text-success-emphasis small">
            <%= format_date(e.komenca_dato, style: :compact) %>
          </div>
          <div class="col fw-medium text-truncate <%= 'cancelled' if e.cancelled %>">
            <%= e.title %>
          </div>
          <div class="col-3 text-body-secondary text-truncate">
            <%= event_flag e %>
            <%= e.city %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center small pt-3">
      <%= pagy.series_nav(:bootstrap).html_safe %>
    </div>
  </div>
<% end %>
