.col-12.col-lg-4.offset-lg-4.col-sm-8.offset-sm-2
  .box-white
    .text-center
      %h3 Eventa Servo
      %p.fg-color-grayDark.font-weight-bold Ĉu vi forgesis vian pasvorton?

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        %p.small Skribu vian retpoŝt-adreson. Ni sendos al vi instrukciojn por krei novan pasvorton.
        = f.email_field :email, autocomplete: 'email', class: 'form-control', autofocus: true, placeholder: 'Retpoŝt-adreso'
      = f.submit 'Ricevu instrukciojn', class: 'button-submit col-12'

  = render partial: 'devise/shared/links'
