<% tag_ids = params[:s]&.split(",")&.map(&:to_i) || [] %>
<div class="text-center m-2">
  <%# Tag: Categories %>
  <div class="d-flex justify-content-center flex-wrap">
    <% Tag.categories.where(display_in_filters: true).order(:sort_order).each do |tag| %>
      <% if tag_ids.include?(tag.id) %>
        <% new_tag_ids = tag_ids - [tag.id] %>
        <%= link_to(icon('fas', 'times', speconomo_plurale(tag.name)), url_for(s: new_tag_ids.join(","), o: params[:o], t: params[:t], periodo: params[:periodo]), class: 'badge badge-pill badge-info m-1') %>
      <% else %>
        <% new_tag_ids = tag_ids + [tag.id] %>
        <%= link_to(speconomo_plurale(tag.name), url_for(s: new_tag_ids.join(","), o: params[:o], t: params[:t], periodo: params[:periodo]), class: 'badge badge-pill badge-light m-1') %>
      <% end %>
    <% end %>
  </div>

  <%# Tag: Characteristics %>
  <div class="d-flex justify-content-center flex-wrap">
    <% ([Tag.times.where(display_in_filters: true).order(:sort_order), Tag.characteristics.where(display_in_filters: true).order(:sort_order) ].flatten.uniq).each do |tag| %>
      <% if tag_ids.include?(tag.id) %>
        <% new_tag_ids = tag_ids - [tag.id] %>
        <%= link_to(icon('fas', 'times', speconomo_plurale(tag.name)), url_for(s: new_tag_ids.join(","), o: params[:o], periodo: params[:periodo]), class: 'badge badge-pill badge-info m-1') %>
      <% else %>
        <% new_tag_ids = tag_ids + [tag.id] %>
        <%= link_to(speconomo_plurale(tag.name), url_for(s: new_tag_ids.join(","), o: params[:o], periodo: params[:periodo]), class: 'badge badge-pill badge-light m-1') %>
      <% end %>
    <% end %>
  </div>

  <% if aktivaj_filtroj? %>
    <% if aktivaj_filtroj.include? 'o' %>
      <div class="text-center m-2">
        <%= link_to(icon('fas', 'times', params[:o]), aktivaj_filtroj.except(:o), class: 'button-filters') %>
      </div>
    <% end %>
  <% end %>
</div>
