.text-center.m-2
  -# Specoj
  .d-flex.justify-content-center.flex-wrap
    - Constants::TAGS.each do |tag|
      - if tag == params[:s] # Speco jam elektita
        = link_to icon('fas', 'times', tag), url_for(o: params[:o], t: params[:t], periodo: params[:periodo]), class: 'badge badge-pill badge-info m-1'

      - else # speco ne elektita
        = link_to tag, url_for(s: tag, o: params[:o], t: params[:t], periodo: params[:periodo]), class: 'badge badge-pill badge-light m-1'

  -# Unu/Plur-tagaj
  - unutaga_kvanto = @events.unutagaj.count + @today_events.unutagaj.count
  - plurtaga_kvanto = @events.plurtagaj.count + @today_events.plurtagaj.count
  .d-flex.justify-content-center.flex-wrap
    - if params[:t] == 'unutaga'
      = link_to url_for(s: params[:s], o: params[:o], periodo: params[:periodo]), class: 'badge badge-pill badge-info m-1' do
        = icon('fas', 'times', 'Unutaga')
    - else
      = link_to url_for(t: 'unutaga', s: params[:s], o: params[:o], periodo: params[:periodo]), class: 'badge badge-pill badge-light m-1' do
        Unutaga

    - if params[:t] == 'plurtaga'
      = link_to url_for(s: params[:s], o: params[:o], periodo: params[:periodo]), class: 'badge badge-pill badge-info m-1' do
        = icon('fas', 'times', 'Plurtaga')
    - else
      = link_to url_for(t: 'plurtaga', s: params[:s], o: params[:o], periodo: params[:periodo]), class: 'badge badge-pill badge-light m-1' do
        Plurtaga

- if aktivaj_filtroj?
  - if aktivaj_filtroj.include? 'o'
    .text-center.m-2
      = link_to icon('fas', 'times', params[:o]), aktivaj_filtroj.except(:o), class: 'button-filters'
