.text-center.m-2
  - ActsAsTaggableOn::Tag.order(:name).pluck(:name).each do |t|
    - count = @today_events.tagged_with(t).count + @events.tagged_with(t).count
    - if params[:s].present? && t.in?(params[:s].split(','))
      = link_to url_for(s: (params[:s].split(',') - t.split(',')).join(',')), class: 'btn btn-sm btn-info mr-1 mb-1' do
        = icon('fas', 'times', t)
        %span.badge.badge-light= count

    - else
      - specoj = ([] << t << params[:s]).join(',')
      = link_to url_for(s: specoj, o: params[:o], periodo: params[:periodo]), class: 'btn btn-sm btn-outline-info mr-1 mb-1' do
        = t
        %span.badge.badge-info= count

- if aktivaj_filtroj?
  - if aktivaj_filtroj.include? 'o'
    .text-center.m-2
      = link_to icon('fas', 'times', params[:o]), aktivaj_filtroj.except(:o), class: 'button-filters'
