.d-flex.justify-content-around
  = link_to @reklamoj.first.url do
    = image_tag @reklamoj.first.image.variant(resize_to_fill: [400, 200]).processed, class: 'reklam-bildo'

  - if @reklamoj.count >= 2
    = link_to @reklamoj.second.url, class: 'd-none d-sm-block' do
      = image_tag @reklamoj.second.image.variant(resize_to_fill: [400, 200]).processed, class: 'reklam-bildo'

  - if @reklamoj.count >= 3
    = link_to @reklamoj.third.url, class: 'd-none d-md-block' do
      = image_tag @reklamoj.third.image.variant(resize_to_fill: [400, 200]).processed, class: 'reklam-bildo'

  - if @reklamoj.count >= 4
    = link_to @reklamoj.fourth.url, class: 'd-none d-lg-block' do
      = image_tag @reklamoj.fourth.image.variant(resize_to_fill: [400, 200]).processed, class: 'reklam-bildo'
%br
