- events.map do |date, events|
  %br
  %br
  %h3.text-divider= l(date, format: "%B %Y")
  - events.each do |event|
    .item-row-no-chevron
      .col-12
        %p
          .text-center.font-weight-bold= link_to((highlight event.title, params[:query].split), event_path(event.ligilo))
          .text-center.small #{highlight event.city, params[:query].split} - #{highlight event.country.name, params[:query].split} | #{event_date(event)}
          .text-center= display_event_tags(event)
        .row.col-md-12
          %p.small= highlight event.description, params[:query].split
          %p.small= highlight ActionView::Base.full_sanitizer.sanitize(event.content), params[:query].split
