.text-center
  .btn-group.btn-group{role:"group", "aria-label": "grupo2"}
    = link_to icon('fas', 'list'), view_style_path('listo'), class: "btn #{cookies[:vidmaniero] == 'listo' ? 'btn-primary' : 'btn-outline-primary' }"
    = link_to icon('far', 'square'), view_style_path('kartoj'),  class: "btn #{cookies[:vidmaniero] == 'kartoj' ? 'btn-primary' : 'btn-outline-primary' }"
    = link_to icon('far', 'calendar'),view_style_path('kalendaro'), class: "btn #{cookies[:vidmaniero] == 'kalendaro' ? 'btn-primary' : 'btn-outline-primary' }"
    = link_to icon('fas', 'map-marked-alt'),view_style_path('mapo'), class: "btn #{cookies[:vidmaniero] == 'mapo' ? 'btn-success' : 'btn-outline-primary' }"
