.box-white
  .text-center
    %h1 Anoncoj kaj konkursoj
  - @eventoj.grouped_by_months.map do |dato, eventoj|
    %br/
    %h3.text-divider= l(dato, format: '%B').upcase
    .row
      - eventoj.each do |e|
        .col-12
          = event_flag(e)
          %strong
            = link_to(e.title, event_url(e.ligilo), class: ("cancelled" if e.cancelled))
          = display_organizations_for_event(e)
          %p.small
            %strong= "#{event_date(e)} en #{e.city}"
            %br/
            = e.description
          %hr/
