<div class="box-white">
  <div class="text-center">
    <h1>Anoncoj kaj konkursoj</h1>
    <div class="caption">
      Listo de aktivaj kaj venontaj anoncoj aŭ konkursoj
    </div>
  </div>
  <% @eventoj.grouped_by_months.each do |dato, eventoj| %>
    <br>
    <h3 class="text-divider"><%= l(dato, format: '%B').upcase %></h3>
    <div class="row">
      <% eventoj.each do |e| %>
        <div class="col-12">
          <%= event_flag(e) %>
          <strong>
            <%= link_to(e.title, event_url(code: e.ligilo), class: ("cancelled" if e.cancelled)) %>
          </strong>
          <%= display_organizations_for_event(e) %>
          <p class="small">
            <strong><%= "#{event_date(e)} en #{e.city}" %></strong>
            <br>
            <%= e.description %>
          </p>
          <hr>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
