.front-page-title
  Estu bonvena al <strong>Eventa Servo</strong>, la nova sistemo por diskonigi esperantajn eventojn monde!

.box-white
  = page_title 'Venontaj eventoj'
  = display_event_list_style_chooser

  .lead Laŭ lando
  - @countries.each do |country|
    = link_to events_by_country_path(country.name), class: 'button-event-count' do
      = country.name
      %span.badge.badge-info= country.count

  = display_events_by_style
