.box-white
  .front-page-title.d-flex.justify-content-around
    = link_to image_tag('uea_emblemeto.png', height: '36px', class: 'mr-1'), prie_url, target: :_blank
    .div
      Diskonigu esperantajn eventojn tutmonde!
      %br
      = link_to "Listo de internaciaj eventoj en #{Date.today.year} →",internacia_kalendaro_url(jaro: Date.today.year), class: 'btn btn-sm btn-link'
    = link_to image_tag('tejo.svg', height: '28px', class: 'ml-1'), prie_url, target: :_blank

  .d-flex.justify-content-between.flex-wrap
    .flex-fill
    -#.flex-fill= render partial: 'home/shortcuts'
    .flex-fill
      #search_container
        = form_tag search_path, id: 'search_form', remote: true do
          = search_field_tag :query, nil, placeholder: 'Serĉi...', class: 'form-control search-field'
    #search_icon.ml-auto.pl-3
      = button_tag icon('fas', 'search'), class: 'btn btn-sm btn-outline-link'

  #events_container
    = render partial: 'home/view_style_chooser'

    .text-center.m-2
      - @continents.each do |continent|
        = link_to events_by_continent_path(continent.name, periodo: params[:periodo].presence, o: params[:o].presence, s: params[:s].presence), class: 'button-event-count' do
          = continent.name
          %span.badge.badge-primary= continent.count
    = render partial: 'home/filters'

    = render partial: 'events/okazantaj'
    = display_events_by_style

  #search_results
