.text-center
  %h1 Eventa Servo
  %p La sistemo por diskonigi esperantajn eventojn tutmonde!

.d-flex.justify-content-around.m-2
  %div
    %h3= User.all.size
    registritaj uzantoj
  %div
    %h3= Event.all.size
    registritaj eventoj

.full_rectangle.bg-color-grayLighter
  .col-12.col-md-6
    %h3.title Facile listigi kaj trovi eventojn!
    %p Per Eventa Servo oni povas vidi eventojn ĉirkaŭ la tuta mondo laŭ mapo, listo, kartaro kaj kalendaro.
    %p Ankaŭ eblas filtri la eventojn laŭ kontinentoj, landoj kaj urboj.
  .col-12.col-md-6
    = image_tag 'prie/mapo.png', class: 'screen-shot border'

.full_rectangle.bg-color-white
  .col-12.col-md-6.order-lg-2
    %h3.title Aboni per via kalendara programo
    %p Oni povas aboni landan aŭ organizan eventan liston per kalendara programo kiel Google Calendar, Apple iCal aŭ simila.
  .col-12.col-md-6.order-lg-1
    = image_tag 'prie/kalendaro.png', class: 'screen-shot'

.full_rectangle.bg-color-grayLighter
  .col-12.col-md-6
    %h3.title Uzebla per komputilo aŭ poŝtelefono
    %p Oni povas uzi Eventan Servon per tradicia komputilo, poŝtelefono aŭ tabulkomputilo. Instali aplikaĵon ne necesas.
  .col-12.col-md-6
    = image_tag 'prie/mobile.png', class: 'screen-shot border'

.full_rectangle.bg-color-white
  .row
    .col-12
      %h3.title UEA kaj TEJO
      %p
        Eventa Servo apartenas al #{link_to 'Universala Esperanto-Asocio (UEA)', 'https://uea.org', target: :_blank}
        kun apogo de #{link_to 'Tutmonda Esperanta Junulara Organizo (TEJO)', 'https://www.tejo.org', target: :_blank}.
      %p
        Ambaŭ organizoj instigas la uzadon de Eventa Servo por informi Esperantujon pri internaciaj, landaj kaj lokaj
        eventoj, kongresoj, kunvenoj, renkontiĝoj k.s.
  .row
    .col-6= link_to image_tag('prie/uea.png', class: 'screen-shot'), 'https://uea.org', target: :_blank
    .col-6= link_to image_tag('tejo.svg', class: 'screen-shot', width: '75%'), 'https://www.tejo.org', target: :_blank

.full_rectangle.bg-color-grayLighter
  .row
    .col-12.mb-5
      %h3.title Kaj multaj aliaj avantaĝoj
    .col-md.mb-3
      .title Dosierujo
      Aldonu fotojn kaj dosierojn al viaj eventoj.
    .col-md.mb-3
      .title Sociaj komunikiloj
      Facile diskonigu vian eventon per diversaj sociaj komunikiloj kiel Facebook, Twitter, WhatsApp, Telegram, retpoŝtaj servoj ktp.
    .col-md.mb-3
      .title Senpaga kaj malfermitkoda
      Estas tute senpaga. La programkodo estas libera en #{link_to 'Github', 'https://github.com/eventaservo/eventaservo'}.
      Se vi volas kontribui al la programado, #{mail_to 'kontakto@eventaservo.org', 'kontaktu nin', subject: 'Pri Eventa Servo'}.
    .col-md.mb-3
      .title Teknologioj
      Konektu la eventojn al aliaj sistemoj per API-teknologio. Abonu la eventan liston per RSS-teknologio.
