<div class="col-2 col-md-1 fw-light text-success-emphasis py-1">
  <% if event.tuttaga? %>
    <span class="text-muted">tuttaga</span>
  <% else %>
    <%= event.komenca_horo(horzono: cookies[:horzono]) %>
    <% end_time = event.fina_horo(horzono: cookies[:horzono]) %>
    <% if end_time %><br>
      <span style="font-size: 0.8em; opacity: 0.45;"><%= end_time %></span>
    <% end %>
  <% end %>
</div>
<div class="col py-1" style="min-width: 0;">
  <div class="fw-medium text-truncate">
    <%= link_to event.title, event_path(code: event.ligilo), class: "text-decoration-none text-reset stretched-link", data: {turbo_frame: "_top"} %>
  </div>
  <div class="text-body-secondary small text-truncate">
    <%= event_flag(event) %>
    <% if event.country&.code && !event.universala? %>
      <span class="d-none d-md-inline"><%= event.country.name %></span>
      <span class="d-inline d-md-none"><%= event.country.code.upcase %></span>
      <% if event.city.present? %> · <% end %>
    <% end %>
    <%= event.city %>
  </div>
</div>
