.card.mb-3
  .card-body
    %h5.card-title
      = event_flag(event)
      = link_to event.title, event_path(event.code)
    .card-text.text-muted
      %p
        = format_date event.date_start
        %br
        = link_to event.city, events_by_city_path(event.country.continent, event.country.name, event.city), class: 'card-link'
        = link_to "(#{event.country.name})", events_by_country_path(event.country.continent, event.country.name), class: 'card-link'
    %p.card-text
      = event.description
