.card.mb-3
  = image_tag('default_event.png', height: '150', alt: "Card image cap", class: 'card-img-top')

  .card-body
    %h5.card-title= event.title
    .card-text.text-muted
      %p= format_date event.date_start
      %p
        #{event.city} - #{event.country.name}
    %p.card-text
      = event.description

  .card-footer
    = icon('fas', 'heart', '10')
    = icon('fas', 'users', '20')
    = link_to 'Pli detaloj', event_path(event.code), class: 'card-link button-outline-blue float-right'
