.card.mb-3
  -#= image_tag('default_event.png', height: '150', alt: "Card image cap", class: 'card-img-top')

  .card-body
    %h5.card-title= event.title
    .card-text.text-muted
      %p
        = format_date event.date_start
        %br
        = link_to event.city, events_by_city_path(event.country.name, event.city), class: 'card-link'
        = link_to "(#{event.country.name})", events_by_country_path(event.country.name), class: 'card-link'
    %p.card-text
      = event.description

  .card-footer
    = icon('fas', 'heart', event.likes.count)
    = icon('fas', 'user-check', event.participants.count)
    = link_to 'Pli detaloj', event_path(event.code), class: 'card-link button-outline-blue float-right'
