<div id="map" class="full-map">
  <script language="JavaScript">
    var map = L.map('map').setView([25, 30], 2);
    L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png?lang=eo', {
      attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    <% events.map do |date, events| %>
      <% events.each do |event| %>
        <% if event.location_defined?  %>
          L.marker([<%= event.latitude %>, <%= event.longitude %>]).addTo(map)
              .bindPopup('<strong><%= link_to event.title, event_url(event.code) %></strong><br><%= format_date(event.date_start) %><br><br><%= event.description %>');
        <% end %>
      <% end %>
    <% end %>
  </script>
</div>
