.event-count-container
  = link_to_event_count('hodiau') do
    %span.ec-count= @future_events.today.count
    %span.ec-title okazas hodiaŭ

  = link_to_event_count('p7_tagojn') do
    %span.ec-count= @future_events.in_7days.count
    %span.ec-title proksimajn 7 tagojn

  = link_to_event_count('p30_tagojn') do
    %span.ec-count= @future_events.in_30days.count
    %span.ec-title proksimajn 30 tagojn

  = link_to_event_count('estontece') do
    %span.ec-count= @future_events.after_30days.count
    %span.ec-title estontece
