<div id="map" class="full-map">
  <script language="JavaScript">
    var map = L.map('map').setView([25, 30], 2);
    L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png?lang=eo', {
      attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    <% events.each do |event| %>
      <% if event.location_defined?  %>
        L.marker([<%= event.latitude %>, <%= event.longitude %>], { icon: <%= event_map_pin_color(event) %> }).addTo(map)
            .bindPopup('<strong><%= link_to event.title, event_url(event.code) %></strong><br><%= event_date(event) %><br><br><%= event.description %>');
      <% end %>
    <% end %>
  </script>
</div>
<div class="d-flex justify-content-center small">
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_green.svg', height: 24, alt: 'verda pinglo') %>
    Okazas hodiaŭ
  </div>
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_orange.svg', height: 24, alt: 'oranĝa pinglo') %>
    Proksimajn 7 tagojn
  </div>
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_yellow.svg', height: 24, alt: 'flava pinglo') %>
    Proksimajn 30 tagojn
  </div>
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_blue.svg', height: 24, alt: 'blua pinglo') %>
    Estontece
  </div>
</div>