<div
  id="full_calendar"
  data-continent="<%= params[:continent] %>"
  data-country="<%= params[:country_name] %>"
  data-city="<%= params[:city_name] %>"
  data-o="<%= params[:o] %>"
  data-s="<%= params[:s] %>"
  data-t="<%= params[:t] %>"
  data-username="<%= params[:username] %>"
>
</div>
