<%
  @eventoj = []
  dup = [] # Por trovi duoblitajn eventojn (sama titolo, sama priskribo, sama urbo, tamen malsamaj datoj)
  events.each do |e|
    next unless e.location_defined?

    next if [e.title, e.description, e.city].in? dup

    dup << [e.title, e.description, e.city]
    @eventoj << { title: e.title, description: e.description, latitude: e.latitude, longitude: e.longitude, ligilo: event_url(e.ligilo), date: event_date(e), pinColor: event_map_pin_color(e) }
  end
%>
<mapo-vidmaniero v-bind:eventoj="<%= @eventoj.to_json %>"></mapo-vidmaniero>

<div class="d-flex justify-content-center small">
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_green.svg', height: 24, alt: 'verda pinglo') %>
    Okazas hodiaŭ
  </div>
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_orange.svg', height: 24, alt: 'oranĝa pinglo') %>
    Proksimajn 7 tagojn
  </div>
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_yellow.svg', height: 24, alt: 'flava pinglo') %>
    Proksimajn 30 tagojn
  </div>
  <div class="m-2 text-center">
    <%= image_tag('leaflet_icons/pin_blue.svg', height: 24, alt: 'blua pinglo') %>
    Estontece
  </div>
</div>

<div class="d-flex justify-content-center small">
* La mapo aperigas nur la unuan venontan eventon, se temas pri evento en la sama loko kun la sama titolo
</div>
