<div
  data-controller="fullcalendar"
  data-fullcalendar-continent-value="<%= params[:continent] %>"
  data-fullcalendar-country-value="<%= params[:country_name] %>"
  data-fullcalendar-city-value="<%= params[:city_name] %>"
  data-fullcalendar-o-value="<%= params[:o] %>"
  data-fullcalendar-s-value="<%= params[:s] %>"
  data-fullcalendar-t-value="<%= params[:t] %>"
  data-fullcalendar-username-value="<%= params[:username] %>"
>
</div>
