- content_for :fb_meta do
  -# Facebook OpenGraph informoj
  %meta{content: request.original_url, property: 'og:url'}
  %meta{content: 'article', property: 'og:type'}
  %meta{content: @event.title, property: 'og:title'}
  - city_and_country = @event.online? ? "Reta" : "#{@event.city} - #{@event.country.name}"
  %meta{content: "#{event_date(@event)} (#{city_and_country}) | #{@event.description}", property: 'og:description'}

  - if @event.header_image
    %meta{content: @event.header_image_url, property: 'og:image'}
    %meta{content: @event.header_image_url, property: 'og:image:secure_url'}
    %meta{content: @event.header_image.content_type, property: 'og:image:type' }
    %meta{content: '200', property: 'og:image:width' }
    %meta{content: '200', property: 'og:image:height' }
  - else # if there are no images on the event, use the default Eventa Servo image
    %meta{content: image_url('eventa_servo_facebook.jpg'), property: 'og:image'}
    %meta{content: image_url('eventa_servo_facebook.jpg'), property: 'og:image:secure_url'}
    %meta{content: 'Eventa Servo', property: 'og:image:alt'}
    %meta{content: '315', property: 'og:image:height'}
    %meta{content: '600', property: 'og:image:width'}
