- content_for :fb_meta do
  -# Facebook OpenGraph informoj
  %meta{ content: request.original_url, property: 'og:url' }
  %meta{ content: 'article', property: 'og:type' }
  %meta{ content: event.title, property: 'og:title' }
  - city_and_country = event.online? ? 'Reta' : "#{event.city} - #{event.country.name}"
  %meta{ content: "#{event_date(event)} (#{city_and_country}) | #{event.description}", property: 'og:description' }

  - if event.header_image
    %meta{ property: 'og:image', content: event.header_image_url }
    %meta{ property: 'og:image:secure_url', content: event.header_image_url }
    %meta{ property: 'og:image:type', content: event.header_image.content_type }
    %meta{ property: 'og:image:width', content: '400' }
    %meta{ property: 'og:image:height', content: '400' }
  - else # if there are no images on the event, use the default Eventa Servo image
    %meta{ property: 'og:image', content: image_url('eventa_servo_facebook.jpg') }
    %meta{ property: 'og:image:secure_url', content: image_url('eventa_servo_facebook.jpg') }
    %meta{ property: 'og:image:alt', content: 'Eventa Servo' }
    %meta{ property: 'og:image:height', content: '315' }
    %meta{ property: 'og:image:width', content: '600' }
