.row
  .col-lg-8.offset-lg-2
    .box-white
      .lead
        = params[:action] == 'new' ? 'Nova evento, kunveno aŭ okazaĵo' : 'Redakti'

      .alert.alert-info.small
        Skribu esperante. Povu ĉiuj scii, kio okazas en Esperantujo tutmonde!

      = form_for(@event, url: (event_path(@event.code) if params[:action].in? %w(edit update))) do |form|
        = error_handling(@event)

        .form-group
          = form.label :title, 'Titolo *'
          = form.text_field :title, class: 'form-control', autofocus: true, required: true

        .form-group
          = form.label :description, 'Priskribo *'
          = form.text_field :description, class: 'form-control', required: true
          %small.form-text.text-muted Maksimume 140 signoj

        - if Organization.by_user(current_user).any?
          .form-group
            = label_tag :organization_id, 'Organizo(j)'
            = select_tag 'organization_ids[]',
              options_from_collection_for_select(Organization.by_user(current_user), 'id', 'full_name', @event_organization_ids),
              multiple: true, class: 'form-control select2-input'
            %small.form-text.text-muted Lasu malplena se la evento ne apartenas al organizo

        .form-row
          .col-lg-6
            .form-group
              = form.label :date_start, 'Komenca dato'
              .form-row
                .col-8= form.text_field :date_start, value: @event.komenca_tago(horzono: @event.time_zone), class: 'datepicker form-control'
                .col-4= text_field_tag(:time_start, @event.komenca_horo, class: 'timemask form-control', required: true)

          .col-lg-6
            .form-group
              = form.label :date_end, 'Fina dato'
              .form-row
                .col-8= form.text_field :date_end, value: @event.fina_tago(horzono: @event.time_zone), class: 'datepicker form-control'
                .col-4= text_field_tag(:time_end, @event.fina_horo, class: 'timemask form-control', required: true)

        .form-group
          = form.label :specolisto, 'Speco'
          .text-center#event_tags
            - Constants::TAGS[0].each do |etikedo|
              .btn-group.btn-group-toggle.mb-1{'data-toggle': 'buttons'}
                %label.btn.button-checkbox--main{class: "#{'active' if (@event.specolisto.present? && etikedo.in?(@event.specoj))}" }
                  - if @event.specolisto.present?
                    = check_box_tag "specolisto[#{etikedo}]", 1, etikedo.in?(@event.specoj)
                  - else
                    = check_box_tag "specolisto[#{etikedo}]", 0
                  = etikedo
            %br
            - Constants::TAGS[1].each do |etikedo|
              .btn-group.btn-group-toggle{'data-toggle': 'buttons'}
                %label.btn.button-checkbox--orange{class: "#{'active' if (@event.specolisto.present? && etikedo.in?(@event.specoj))}" }
                  - if @event.specolisto.present?
                    = check_box_tag "specolisto[#{etikedo}]", 1, etikedo.in?(@event.specoj)
                  - else
                    = check_box_tag "specolisto[#{etikedo}]", 0
                  = etikedo
            %br
            %small.form-text.text-muted Anoncoj kaj konkursoj ne aperos en la ĉefpaĝo
        .form-group
          = form.label :enhavo, 'Enhavo'
          = form.rich_text_area :enhavo, style: 'height: 24em; overflow-y: auto;'

        .row
          .col-lg-6
            .form-group
              = form.label :site, 'Retpaĝo'
              = form.text_field :site, class: 'form-control', required: @event.email.blank?
          .col-lg-6
            .form-group
              = form.label :email, 'Retpoŝtadreso por kontakto'
              = form.email_field :email, class: 'form-control', required: @event.site.blank?

        #vue-mallongilo
          %mallongilo{evento_rails: @event.to_json}

        .form-group.form-check
          = form.check_box :online, class: 'form-check-input'
          = form.label :online, '🖥 Reta evento', class: 'form-check-label'

        #retaj_informoj
          .form-group
            = check_box_tag 'universala', "1", @event.universala?
            = label_tag 'universala', 'Elekti horzonon anstataŭ adreson/landon', class: 'form-check-label'

        #horzono
          .form-group
            = form.label :time_zone, 'Horzono'
            - timezones = TZInfo::Timezone.all_country_zone_identifiers
            - timezones << @event.time_zone
            - timezones << 'Etc/UTC'
            = form.select(:time_zone, options_for_select(timezones, @event.time_zone), {}, class: 'select2-input form-control')

        #malretaj_informoj
          .form-group
            = form.label :address, 'Loka adreso de la evento'
            = form.text_field :address, class: 'form-control'
            %small.form-text.text-muted Aldonu la strat-nomon por precizigi la eventlokon en la mapo
          .row
            .col-lg-6
              .form-group
                = form.label :city, 'Urbo (aŭ loko)'
                = form.text_field :city, class: 'form-control', required: true
            .col-lg-6
              .form-group
                = form.label :country_id, 'Lando'
                = form.select(:country_id, options_from_collection_for_select(Country.not_online, 'id', 'name', @event.country_id), {}, class: 'form-control select2-input')

        - if current_user.admin?
          .text-divider Administrantoj
          .form-group
            = label_tag :user_id, 'Eventa administranto'
            = form.select(:user_id, options_from_collection_for_select(User.order(:name), 'id', 'name', @event.user_id || current_user.id), {}, class: 'form-control select2-input')

        .buttons-footer
          - if params[:action] == 'edit'
            = link_to 'Ne registri', :back, class: 'button-cancel'
            = link_to 'Forigi', event_path(@event.ligilo), class: 'button-outline-red float-left', method: :delete, data: { confirm: 'Ĉu vi certas? Vi ne kapablos malfari tion.' }
          - if params[:action] == 'new'
            = link_to 'Ne registri', root_path, class: 'button-cancel'
          = form.submit 'Registri', class: 'button-submit'
