.row
  .col-lg-8.offset-lg-2
    .box-white
      = form_for(@event, url: (event_path(@event.code) if params[:action] == 'edit') ) do |form|

        = error_handling(@event)

        .form-group
          = form.label :title, 'Titolo'
          = form.text_field :title, class: 'form-control'

        .form-group
          = form.label :description, 'Priskribo'
          = form.text_field :description, class: 'form-control'
          %small.form-text.text-muted Maximume 400 karakteroj

        .form-group
          = form.label :content, 'Enhavo'
          = form.text_area :content, rows: 8, class: 'form-control'

        .form-group
          = form.label :address, 'Adreso'
          = form.text_field :address, class: 'form-control'

        .row
          .col-lg-6
            .form-group
              = form.label :city, 'Urbo'
              = form.text_field :city, class: 'form-control'
          .col-lg-6
            .form-group
              = form.label :country_id, 'Lando'
              = form.select(:country_id, options_from_collection_for_select(Country.all, 'id', 'name', @event.country_id), {}, class: 'form-control select2')

        .row
          .col-lg-6
            .form-group
              = form.label :date_start, 'Komenca dato'
              = form.text_field :date_start, value: @event.date_start.strftime("%d/%m/%Y"), class: 'datepicker form-control'
          .col-lg-6
            .form-group
              = form.label :date_end, 'Fina dato'
              = form.text_field :date_end, value: @event.date_end.strftime("%d/%m/%Y"), class: 'datepicker form-control'

        .buttons-footer
          - if params[:action] == 'edit'
            = link_to 'Nuligi', :back, class: 'button-cancel'
            = link_to 'Forigu eventon', event_path(@event.code), class: 'button-outline-red float-left', method: :delete, data: { confirm: 'Ĉu vi certas?' }
          - if params[:action] == 'new'
            = link_to 'Nuligi', root_path, class: 'button-cancel'
          = form.submit 'Registri', class: 'button-submit'

:coffee
  $('#event_date_start').change ->
    $('#event_date_end').val($('#event_date_start').val())
