.row
  .col-lg-8.offset-lg-2
    .box-white
      = form_for(@event) do |form|
        = error_handling(@event)

        .form-group
          = form.label :title, 'Titolo'
          = form.text_field :title, class: 'form-control'

        .form-group
          = form.label :description, 'Priskribo'
          = form.text_field :description, class: 'form-control'

        .row
          .col-lg-6
            .form-group
              = form.label :city, 'Urbo'
              = form.text_field :city, class: 'form-control'
          .col-lg-6
            .form-group
              = form.label :country_id, 'Lando'
              = form.select(:country_id, options_from_collection_for_select(Country.all, 'id', 'name'), {}, class: 'form-control')

        .row
          .col-lg-6
            .form-group
              = form.label :date_start, 'Komenca dato'
              = form.text_field :date_start, value: Date.today.strftime("%e/%-m/%Y"), class: 'datepicker form-control'
          .col-lg-6
            .form-group
              = form.label :date_end, 'Fina dato'
              = form.text_field :date_end, value: Date.today.strftime("%e/%-m/%Y"), class: 'datepicker form-control'

        .row
          .form-group
            = form.file_field :attachments, multiple: true

        .buttons-footer
          = link_to 'Nuligi', events_url, class: 'btn btn-sm btn-outline-danger'
          = form.submit 'Registri', class: 'btn btn-sm btn-primary'
