- unless @event.komenca_horo == '00:00' && @event.fina_horo == '00:00'
  .small.text-right.mt-1.font-weight-bold
    %div= icon('far', 'clock', "#{@event.komenca_horo} - #{@event.fina_horo}")
    %div
      = @event.time_zone
      = icon('fas', 'sun', data: { toggle: 'tooltip', placement: 'top', title: 'Somera/Vintra tempo' }) if @event.dst?