.box-white
  .box-header Informoj
  .box-body
    %p
      <strong>Adreso:</strong> #{@event.address}
      %br
      <strong>Urbo:</strong> #{@event.city} - #{@event.country.name}
      %br
    %p
      = event_like_button(@event)
      = event_participant_button(@event)
      %span.d-inline-block{'data-toggle': 'tooltip', tabindex: '0', title: 'Vizitoj'}
        %button.btn.btn-sm.btn-link{disabled: 'disabled'}=  icon('far', 'eye', @event.impressionist_count)
    .text-center
      - sharing_text = "#{@event.title} | #{@event.description}"
      = social_share_button_tag(sharing_text, desc: sharing_text, 'data-twitter-title' => sharing_text[0..200] + " #eventaservo")

    %p
    .text-divider Kreinto
    = link_to display_user(@event.user), events_by_username_path(@event.user.username), class: 'btn btn-sm btn-outline-link'
    = render partial: 'alshutilo'

