.box-white
  .box-header Informoj
  .box-body
    %p{style: 'line-height: 1.8em;'}
      = montras_retpaghon(@event.site) + raw('<br/>') if @event.site.present?
      = montras_retposhtadreson(@event.email) + raw('<br/>') if @event.email.present?
      - unless @event.online
        = link_to(icon('fas', 'map-marker-alt') + ' ' + @event.address, event_map_url(@event), target: :_blank) + raw('<br/>') unless @event.address.blank?
        = render partial: 'event_map'

    %p.text-center
      = event_like_button(@event)
      = event_participant_button(@event)

    %p
    .text-divider Administranto
    - if @event.organizations.any?
      .text-center{style: 'font-size: 1.3em;'}= display_organizations_for_event(@event)
    - else
      = link_to display_user(@event.user), events_by_username_path(@event.user.username), class: 'btn btn-sm btn-outline-link'

    = render partial: 'alshutilo'
