.box-white
  .box-header Informoj
  .box-body
    %p{style: 'line-height: 1.8em;'}
      = montras_retpaghon(@event.site) + raw('<br/>') if @event.site.present?
      = montras_retposhtadreson(@event.email) + raw('<br/>') if @event.email.present?
      - unless @event.online && @event.city == 'Reta'
        = montras_adreson(@event.full_address, text: @event.address) unless @event.address.blank?
        - if @event.location_defined?
          %eventa-mapo{"v-bind:latitude": @event.latitude, "v-bind:longitude": @event.longitude}

    = render partial: 'partoprenontoj'

    %p
    .text-divider Administranto
    - if @event.organizations.any?
      .text-center{style: 'font-size: 1.3em;'}
        - @event.organizations.each do |o|
          .organization-tags
            = link_to o.name, organization_url(o.short_name), class: 'tag text-truncate'
          %br
    - else
      = link_to display_user(@event.user), events_by_username_path(@event.user.username), class: 'btn btn-sm btn-outline-link'

    = render partial: 'alshutilo'
