.box-white
  .box-header Informoj
  .box-body
    - unless @event.online
      %p
        <strong>Adreso:</strong> #{link_to icon('fas', 'map-marker-alt') + ' ' + @event.address, event_map_url(@event), target: :_blank}
        %br
        <strong>Urbo (aŭ loko):</strong> #{@event.city} - #{@event.country.name}
        %br
      = render partial: 'event_map'

    %p.text-center
      = event_like_button(@event)
      = event_participant_button(@event)

    %p
    .text-divider Administranto
    - if @event.organizations.any?
      .text-center{style: 'font-size: 1.3em;'}= display_organizations_for_event(@event)
    - else
      = link_to display_user(@event.user), events_by_username_path(@event.user.username), class: 'btn btn-sm btn-outline-link'

    = render partial: 'alshutilo'
