.item-row-no-chevron{class: event_color_class(event)}
  .col-12
    %p
      .text-center.font-weight-bold
        = event_flag(event)
        = link_to event.title, event_path(event.code)
      .text-center
        = display_organizations_for_event(event)
        %br
        = event_date(event)
        = event.online ? "(Reta evento)" : "- #{event.city} - #{event.country.name}"
    %p.text-center= event.description
