.item-row-no-chevron

  -# Malgrandaj ekranoj
  .d-block.d-md-none.col-12
    %p
      .text-center.font-weight-bold= link_to event.title, event_path(event.code)
      .text-center.small (#{event.city} - #{event.country.name})
      .text-center.small= format_date event.date_start
    %p.small= event.description
    %hr

  -# Grandaj ekranoj
  .d-none.d-md-block.col-md-12
    .font-weight-bold= link_to event.title, event_path(event.code)
    .small (#{event.city} - #{event.country.name}) - #{format_date event.date_start}
    .row.col-md-12
      %p.small= event.description


