<div data-controller="event-user-interested-button">
  <% if user_signed_in? %>
    <% if event.participants_records.include?(current_user) %>
      <%= link_to event_toggle_participant_url(event_code: event.ligilo), class: 'link-green' do %>
        <span class="h1 d-block"><%= icon('fas', 'user-check') %></span>
        <span>Mi interesiĝas!</span>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-link link-blue p-0 border-0 bg-transparent" data-action="click->event-user-interested-button#buttonClicked" data-event-user-interested-button-target="button">
        <span class="h1 d-block"><%= icon('fas', 'user') %></span>
        <span>Mi interesiĝas</span>
      </button>
      <div class="d-none" data-event-user-interested-button-target="question">
        Ĉu aperigi vian nomon en la listo de interesiĝantoj?<br>
        <%= link_to "JES", event_toggle_participant_url(event_code: event.ligilo, publika: 'jes'), class: 'btn btn-sm btn-success btn-block' %><br>
        <%= link_to "NE", event_toggle_participant_url(event_code: event.ligilo), class: 'btn btn-sm btn-danger btn-block' %>
      </div>
    <% end %>
  <% else %>
    <%= link_to 'Ensalutu', new_user_session_path, class: 'font-weight-bold' %>
    por indiki vian interesiĝon
  <% end %>
</div>
