- if @event.cancelled
  = link_to icon('fas', 'ban', 'Malnuligi'), event_malnuligi_url(@event.code), class: 'btn btn-sm btn-outline-danger'

- else
  = link_to icon('fas', 'ban', 'Nuligi'), '#', class: 'btn btn-sm btn-outline-danger', data: { target: '#nuligiloModal', toggle: 'modal' }

  #nuligiloModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'nuligiloModalCenterTitle', role: 'dialog', tabindex: '-1'}
    .modal-dialog.modal-dialog-centered{role: 'document'}
      .modal-content.text-left

        .modal-header
          %h5#problemoModalCenterTitle.modal-title Nuligi eventon
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
            %span{'aria-hidden' => 'true'} ×

        = form_tag event_nuligi_url(@event.code) do
          .modal-body{style: 'font-weight: normal; font-size: 1rem;'}
            %p Nuligi eventon ne forigas ĝin el la listo, tamen aperigas ĝin kiel nuligita. Tiel, homoj informiĝos ke la evento ne okazos.
            .form-group
              = text_field_tag :cancel_reason, '', class: 'form-control', required: true, placeholder: 'Entajpu la kialon'

          .modal-footer
            = submit_tag 'Konfirmi la nuligon', class: 'button-submit'
