- if cookies[:vidmaniero].in?(%w[kartoj kartaro]) && params[:pagho].nil?
  - if @today_events.any?
    %br
    %h5.text-center.font-weight-bold #{@today_events.ne_nuligitaj.length} okazas hodiaŭ
    .row
      - @today_events.order(:date_start).each do |evento|
        .col-12.col-md-6
          .okazantaj-eventoj
            %h6.text-truncate
              = event_flag(evento)
              - titolo = evento.title
              - if evento.participants.size > 5
                - titolo = "🔥 #{titolo}"
              = link_to titolo, event_path(evento.ligilo), class: ("cancelled" if evento.cancelled)
              .small.pl-4
                = evento.komenca_horo(horzono: (cookies[:horzono] || evento.time_zone)) unless (evento.multtaga? or evento.tuttaga?)
                = evento.universala? ? 'Reta' : "#{evento.city} (#{evento.country.code.upcase})"
                = display_event_days_left(evento)
%br
