#partoprenantoj
  .text-divider
    = event.past? ? "Interesiĝintoj" : "Interesiĝantoj"

  .box-body
    - unless event.past?
      .row.text-center
        .col-6.my-auto
          %h1= event.participants.size
        .col-6.my-auto
          = render partial: "mi_interesighas_button", locals: {event: event}
      - if current_user && event.participants.pluck(:user_id).include?(current_user.id)
        %p.bg-color-greenLighter.p-1.mt-2.text-center{style: 'border-radius: 5px;'}
          Vi ricevos memorigajn retmesaĝojn pri la evento.
      - elsif current_user
        %p.bg-color-grayLighter.p-1.mt-2.text-center{style: 'border-radius: 5px;'}
          Indiku ke vi interesiĝas kaj vi ricevos memorigajn retmesaĝojn pri la evento.

    -# Listo de interesiĝ(a/i)ntoj
    - interested.publikaj.sample(3).each do |participant|
      - next unless participant.user

      %br/
      = link_to display_user(participant.user), events_by_username_path(participant.user&.username)
      %br/
      %br/
    - if interested.size > 3
      = render partial: 'partoprenonta_listo', locals: { event: event }
