#partoprenantoj
  .text-divider Interesiĝantoj
  .box-body
    .row.text-center
      .col-6.my-auto
        %h1= @event.participants.size
      .col-6.my-auto
        <partoprenanta-butono participant="#{@event.participants.pluck(:user_id).include?(current_user.id) if current_user}" :logged="#{current_user.present?}" ligilo="#{event_toggle_participant_url(@event.ligilo)}" />
    - if current_user && @event.participants.pluck(:user_id).include?(current_user.id)
      %p.bg-color-greenLighter.p-1.mt-2.text-center{style: 'border-radius: 5px;'}
        Vi ricevos memorigan retmesaĝon du horojn antaŭ la komenco de la evento.
    - else
      %p.bg-color-grayLighter.p-1.mt-2.text-center{style: 'border-radius: 5px;'}
        Indiku ke vi interesiĝas kaj vi ricevos memorigan retmesaĝon du horojn antaŭ la komenco de la evento.

    - # Listeto de partoprenontoj
    - @partoprenontoj.publikaj.sample(3).each do |participant|
      - next unless participant.user

      %br/
      = link_to display_user(participant.user), events_by_username_path(participant.user&.username)
      %br/
      %br/
    - if @partoprenontoj.size > 3
      = render partial: 'partoprenonta_listo'
