.modal.text-left.fade#timezoneModal{'aria-hidden' => 'true', 'aria-labelledby' => 'timezoneModalCenterTitle', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-dialog-centered{role: 'document'}
    .modal-content
      = form_tag(iloj_elektas_horzonon_url, method: :posts) do
        .modal-header
          %h5.modal-title#timezoneModalCenterTitle Horzono
          %button.close{'aria-label': 'Fermi', 'data-dismiss': 'modal', type: 'button'}
            %span{'aria-hidden': 'true'} ×
        .modal-body{style: 'font-size: 1rem; font-weight: normal;'}
          - if cookies[:horzono]
            %p
              Nuntempe vi vidas ĉiujn eventojn laŭ
              %b= cookies[:horzono] + "."
            .small
              Por vidi la eventojn laŭ la propra/loka horzono,
              = link_to "alklaku ĉi tie.", iloj_forvishas_horzonon_url
            %hr
          %p Elektu horzonon:
          .form-group
            - selected = @event.nil? ? (cookies[:horzono] || nil) : @event.time_zone
            = select_tag(:horzono, options_for_select(Horzono.all.map { |h| [h.eo, h.en] }, selected), class: 'select2-input form-control')

        .modal-footer
          %button.button-cancel{'data-dismiss' => 'modal', type: 'button'} Fermi
          = submit_tag "#{cookies[:horzono] ? 'Ŝanĝi' : 'Elekti'} ", class: 'button-submit'
