- content_for :title do
  = params[:continent]

.box-white
  = render partial: 'home/shortcuts'
  = render partial: 'layouts/breadcrumb'
  = render partial: 'home/view_style_chooser'

  - unless params[:continent] == 'Reta'
    .lead Laŭ lando
    - @countries.each do |country|
      = link_to events_by_country_path(country.continent, country.name), class: 'button-event-count' do
        = flag_icon(country.code, squared: true)
        = country.name
        %span.badge.badge-primary= country.count

  = display_events_by_style