- content_for :title do
  = @country.name

.box-white
  = content_for :breadcrumb_right do
    = link_to icon('far', 'calendar-alt'), webcal_url(landa_kodo: @country.code, protocol: :webcal, format: :ics), data: { target: '#webcalModal', toggle: 'modal' }
  = render partial: 'layouts/breadcrumb'
  = render partial: 'home/view_style_chooser', locals: { kartaro: true, kalendaro: false, mapo: true }

  .text-center.m-2
    - @cities.each do |city|
      = link_to events_by_city_path(continent: @country.continent.normalized, country_name: @country.name, city_name: city.name, periodo: params[:periodo].presence, o: params[:o].presence, s: params[:s].presence), class: 'button-event-count' do
        = city.name
        %span.badge.badge-primary= city.count

  = render partial: 'home/filters'
  = render partial: 'events/okazantaj'
  = display_events_by_style

#webcalModal.modal.fade{ aria: { hidden: :true, labelledby: 'shareModalCenterTitle' } , role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-lg.modal-dialog-centered{role: 'document'}
    .modal-content

      .modal-header
        %h5#shareModalCenterTitle.modal-title Aboni kalendaron
        %button.close{'aria-label': 'Fermi', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': :true} ×

      .modal-body
        %p
          Kiam oni abonas landan kalendaron, ĉiuj eventoj estas aldonataj al la kalendaro kaj ajnaj eventaj ŝanĝoj
          aŭtomate ĝisdatiĝas.

        %p
          Jen Webcal-ligilo por aboni la kalendaron de eventoj en #{flag_icon(@country.code)} #{@country.name}.
          Uzu ĝin en programoj kiel Google Calendar, iCal aŭ similaj. Se vi bezonas klarigon kiel uzi la ligilon, legu
          #{link_to 'ĉi tiun artikolon', 'https://github.com/eventaservo/eventaservo/wiki/Webcal-(Google-Calendar---iCal)', target: :'_blank'}.

        .input-group{contenteditable: true}
          .input-group-prepend
            .input-group-text#copy_button= link_to 'Kopii', 'javascript:;'
          = text_field_tag nil, webcal_url(landa_kodo: @country.code, format: :ics), id: 'webcalurl', class: 'form-control bg-color-white'

        %br
        %p
          Kelkaj kalendaraj programoj ebligas aŭtomate aboni la kalendaron se oni alklakas specifan ligilon. Vi povas
          provi tion per #{link_to 'ĉi tiu ligilo', webcal_url(landa_kodo: @country.code, protocol: :webcal, format: :ics)}.

      .modal-footer
        %button.btn.btn-sm.btn-outline-secondary{'data-dismiss': 'modal', type: 'button'} Fermi
