.box-white
  = render partial: 'layouts/breadcrumb'
  = display_event_list_style_chooser

  .lead Eventoj laŭ urboj
  - @cities.each do |city|
    = link_to events_by_city_path(@country.name, city.name), class: 'button-event-count' do
      = city.name
      %span.badge.badge-info= city.count

  - if session[:event_list_style] == 'kartoj'
    = render partial: 'events/event_cards', locals: { events: @events}
  - else
    = render partial: 'events/event_list', locals: { events: @events}
