- content_for :title do
  = "#{params[:city_name]} (#{params[:country_name]})"

.box-white
  = render partial: 'home/shortcuts'
  = render partial: 'layouts/breadcrumb'
  = render partial: 'home/view_style_chooser'
  = display_events_by_style
