.box-white
  .row
    .col-md-3
      .text-center
        = display_user_image_profile(@uzanto)
    .col-md-9
      .ml-3
        %h1.display-4= @uzanto.name
        = montras_flagon(@uzanto.country)
        = @uzanto.country.name if @uzanto.country
        = "(#{@uzanto.city})"
        %p.small= simple_format(@uzanto.about)
  %br
  .row
    .col-lg-3.col-md-12
      = render partial: 'uzantaj_ligiloj'
      %br
      = render partial: 'uzantaj_organizoj'
      = render partial: 'informoj_por_administrantoj' if current_user && current_user.admin?

    .col-lg-9.col-md-12
      .row
        .col-12.col-md-6.mb-5
          = render partial: 'users/instruist_profilo'
        .col-12.col-md-6.mb-5
          = render partial: 'users/prelegant_profilo'
      - if @venontaj.any?
        .mb-5
          .lead Venontaj eventoj
          - @venontaj.order(:date_start).each do |e|
            = link_to event_path(e.ligilo), class: 'item-row small' do
              .col-5
                = event_flag e
                = "#{e.city} - #{format_date(e.komenca_dato, style: :short)}"
              .col{class: ("cancelled" if e.cancelled)}= "#{e.title}"

      - if @pasintaj.any?
        .lead Pasintaj eventoj
        - @pasintaj.order(date_start: :desc).each do |e|
          = link_to event_path(e.ligilo), class: 'item-row small' do
            .col-5
              = event_flag e
              = "#{e.city} - #{format_date(e.komenca_dato, style: :short)}"
            .col{class: ("cancelled" if e.cancelled)}= "#{e.title}"
        .d-flex.justify-content-center.small.pt-3
          = raw pagy_bootstrap_nav(@pagy)
