.box-white
  = render partial: 'layouts/breadcrumb'
  = render partial: 'home/view_style_chooser'
  = render partial: 'home/filters'
  = render partial: 'events/okazantaj'
  = display_events_by_style
