.box-white
  .row
    .col-md-3
      .text-center
        = display_user_image_profile(@uzanto)
    .col-md-9
      .ml-3
        %h1.display-4= @uzanto.name
        = montras_flagon(@uzanto.country)
        = @uzanto.country.name if @uzanto.country
        = "(#{@uzanto.city})"
        %p.small= simple_format(@uzanto.about)
  %br
  .row
    .col-lg-3.col-md-12
      = render partial: 'uzantaj_ligiloj'
      %br
      = render partial: 'uzantaj_organizoj'
      = render partial: 'informoj_por_administrantoj' if current_user && current_user.admin?

    .col-lg-9.col-md-12
      .row
        .col-12.col-md-6.mb-5
          = render partial: 'users/instruist_profilo'
        .col-12.col-md-6.mb-5
          = render partial: 'users/prelegant_profilo'

      = render partial: "users/interested_events_list"

      = render partial: "users/my_events"
