.box-white
  = page_title current_user.name
  .lead Eventoj
  .item-row-header
    .col-lg-4 Nomo
    .col-lg-4 Dato
    .col-lg-4 Loko
  - @events.each do |event|
    = link_to event_path(event.code), class: 'item-row' do
      .col-lg-4= event.title
      .col-lg-4= event_date(event)
      .col-lg-4 #{event.city} (#{event.country.name})

