.box-white
  .lead.d-flex
    %div #{event_flag(@evento)} #{@evento.title}

  .text-divider Kronologio
  %p Versioj: #{@evento.versions.count}

  - @evento.versions.order(id: :desc).each do |version|
    .box-white
      %p
        = User.find(version.whodunnit).name if version.whodunnit
        en #{format_date version.created_at} ŝanĝis:
      - version.changeset.except(:updated_at).map do |item, changes|
        %p
          #{t item}:
          = raw Diffy::Diff.new(changes[0], changes[1]).to_s(:html)

  = link_to 'Revidi la eventon', event_url(@evento.code)
