<div class="box-white">
  <div class="lead d-flex">
    <div><%= event_flag(@event) %> <%= @event.title %></div>
  </div>

  <%= link_to "Revidi la eventon", event_url(@event.ligilo), class: "btn btn-sm btn-outline-primary" %>

  <h4 class="text-center">Kronologio</h4>

  <% @versions.each do |version| %>
    <% next if version.changeset.empty? %>

    <div class="box-white small">
      <p>
        <%= User.find(version.whodunnit).name if version.whodunnit %>
        en <%= format_date version.created_at %> <%= version.event %>:
      </p>
      <% version.changeset.except(:updated_at).map do |item, changes| %>
        <div class="row">
          <div class="col-2"><%= t item %>:</div>
          <div class="col-10">
            <% old = changes[0] %>
            <% new = changes[1] %>
            <% if item == 'user_id' %>
              <% old = User.find(old).name if old %>
              <% new = User.find(new).name %>
            <% end %>
            <% if item == 'country_id' %>
              <% old = Country.find(old).name if old %>
              <% new = Country.find(new).name %>
            <% end %>

            <%= raw Diffy::Diff.new(old, new).to_s(:html) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
