.box-white
  .lead.d-flex
    %div #{event_flag(@evento)} #{@evento.title}

  = link_to "Revidi la eventon", event_url(@evento.ligilo), class: "btn btn-sm btn-outline-primary"

  %h4.text-center Kronologio

  .row
    .col-md-6.col-12
      .text-divider Datumoj
      - @evento.versions.order(id: :desc).each do |version|
        - next if version.changeset.empty?

        .box-white.small
          %p
            = User.find(version.whodunnit).name if version.whodunnit
            en #{format_date version.created_at} ŝanĝis:
          - version.changeset.except(:updated_at).map do |item, changes|
            .row
              .col-2 #{t item}:
              .col-10
                - old = changes[0]
                - new = changes[1]
                - if item == 'user_id'
                  - old = User.find(old).name if old
                  - new = User.find(new).name
                - if item == 'country_id'
                  - old = Country.find(old).name if old
                  - new = Country.find(new).name

                = raw Diffy::Diff.new(old, new).to_s(:html)

    .col-md-6.col-12
      .text-divider Enhavo
      - @evento.enhavo.versions.order(id: :desc).each do |version|
        - next if version.changeset.empty?

        .box-white.small
          %p
            = User.find(version.whodunnit).name if version.whodunnit
            en #{format_date version.created_at} ŝanĝis:
          - version.changeset.except(:updated_at).map do |item, changes|
            .row
              .col-2 #{t item}:
              .col-10
                - old = changes[0]
                - new = changes[1]
                - if item == 'user_id'
                  - old = User.find(old).name if old
                  - new = User.find(new).name
                - if item == 'country_id'
                  - old = Country.find(old).name if old
                  - new = Country.find(new).name

                = raw Diffy::Diff.new(old, new).to_s(:html)
