- content_for :title do
  = @event.title
= render partial: 'fb_meta'
= render partial: 'layouts/breadcrumb'

.row
  .col-lg-8
    .box-white
      .lead.d-flex
        %div
          #{event_flag(@event)} #{@event.title}
        .ml-auto
          = render partial: 'share_button'


      %p.text-right.small
        = format_date @event.date_start
        - if @event.date_end > @event.date_start
          Äis #{format_date @event.date_end}
      %p= @event.description
      .trix-content= sanitize @event.content

      = render partial: 'event_contact'
      = render partial: 'uploads'
      - if user_signed_in? && (current_user.is_owner_of(@event) || current_user.admin?)
        .buttons-footer
          = link_to 'Redakti eventon', edit_event_path(@event.code), class: 'btn btn-sm btn-outline-primary'

  .col-lg-4
    = render partial: 'informoj'
