- content_for :title do
  = @event.title
= render partial: 'fb_meta'
= render partial: 'layouts/breadcrumb'

.row
  .col-lg-8
    .box-white{class: event_color_class(@event)}
      .lead.d-flex
        %div
          #{event_flag(@event)} #{@event.title}
        .ml-auto
          = link_to icon('far', 'calendar-alt'), event_url(@event.code, format: :ics),
            data: { toggle: 'tooltip', placement: 'top', title: 'Alklaku por aldoni ĝin al via kalendaro' }
          = render partial: 'share_button'

      #div
        .ml-2.float-right
          = render partial: 'kalendareto', locals: { event: @event }
          .small.text-right.mt-1.font-weight-bold
            %div= icon('far', 'clock', "#{@event.komenca_horo} - #{@event.fina_horo}")
            %div= @event.time_zone
        %h5.text-left= @event.description

      .trix-content= sanitize @event.content

      = render partial: 'kontaktoj'
      = render partial: 'uploads'
      .text-right= render partial: 'informi_pri_problemo'
      - if user_signed_in?
        .buttons-footer
          = link_to icon('far', 'copy', 'Duobligi eventon'), new_event_url(from_event: @event), class: 'btn btn-sm btn-outline-success'
          - if current_user.owner_of(@event) || current_user.admin?
            = link_to icon('far', 'edit', 'Redakti eventon'), edit_event_url(@event.code), class: 'btn btn-sm btn-outline-primary'

  .col-lg-4
    = render partial: 'informoj'
