- content_for :title do
  = @event.title
= render partial: 'fb_meta'
-#<link rel="canonical" href="http://www.example.com/product.php?item=swedish-fish" />
-#  %meta{content: request.original_url, property: 'og:url'}
= render partial: 'layouts/breadcrumb'

.row
  .col-lg-8
    .box-white{class: event_color_class(@event)}
      .lead.d-flex
        %div
          #{event_flag(@event)} <span class="#{'cancelled' if @event.cancelled}">#{@event.title}</span>
        .ml-auto
          = link_to icon('far', 'calendar-alt'), event_url(@event.code, format: :ics),
            data: { toggle: 'tooltip', placement: 'top', title: 'Alklaku por aldoni ĝin al via kalendaro' }
          = render partial: 'share_button'

      - if @event.cancelled
        .alert.alert-danger
          %b NULIGITA
          = @event.cancel_reason
      #div
        .ml-2.float-right
          = render partial: 'kalendareto', locals: { event: @event }
          = render partial: 'horoj'
        %h5.text-left= @event.description

      %p= display_event_tags(@event)

      = @event.enhavo

      = render partial: 'uploads'

      .buttons-footer.d-flex
        .mr-auto
          = render partial: 'informi_pri_problemo'
          - if user_signed_in? && user_can_edit_event?(user: current_user, event: @event)
            = render partial: 'nuligilo_modal'

        .ml-auto
          - if user_signed_in?
            = link_to icon('far', 'copy', 'Duobligi'), new_event_url(from_event: @event), class: 'btn btn-sm btn-outline-success'
            - if user_can_edit_event?(user: current_user, event: @event)
              = link_to icon('far', 'edit', 'Redakti'), edit_event_url(@event.ligilo), class: 'btn btn-sm btn-outline-primary'

  .col-lg-4
    = render partial: 'informoj'
