- content_for :head do
  -# Facebook OpenGraph informoj
  %meta{content: request.original_url, property: 'og:url'}
  %meta{content: @event.title, property: 'og:title'}
  %meta{content: @event.description, property: 'og:description'}
  %meta{content: 'website', property: 'og:type'}

.box-white
  = render partial: 'layouts/breadcrumb'
  .row
    .col-lg-8
      .box-white
        .lead= @event.title
        %p.text-right= format_date(@event.date_start)
        %p= @event.description
        %p= markdown(@event.content)

        = render partial: 'fotoj'
        - if user_signed_in? && (current_user.is_owner_of(@event) || current_user.admin?)
          .buttons-footer
            = link_to 'Redakti eventon', edit_event_path(@event.code), class: 'btn btn-sm btn-outline-primary'

    .col-lg-4
      = render partial: 'informoj'
      - if user_signed_in? && current_user.is_owner_of(@event)
        .box-white
          .lead Aldonilo
          = form_tag(attachment_upload_path(@event), multipart: true) do
            .form-group
              = label_tag('Alŝutu fotojn', nil, for: 'attachment_upload_field')
              = file_field_tag(:file, name: 'file', id: 'attachment_upload_field', class: 'form-control-file')
              = hidden_field_tag(:record_type, @event.class)

            .buttons-footer
              = submit_tag 'Alŝutu',  class: 'button-submit'
