.toolbar
  = toolbar_back(:back)
.row
  .col-lg-8
    .box-white
      .lead= @event.title
      %p.text-right= format_date(@event.date_start)
      %p= @event.description
      %p= @event.content

      - unless @event.attachments.empty?
        .lead Fotoj
        .row
          - @event.attachments.each do |attachment|
            .col-12.col-sm-3.mb-3
              .card
                = image_tag attachment.file.thumb.url, class: 'card-img-top', size: '128'
                .card-body
                  .card-text
                    = icon('fas', 'star')
                    = link_to icon('far', 'trash-alt', class: 'fg-color-red'), attachment_destroy_path(attachment), method: :delete, data: { confirm: 'Ĉu vi certas?' }, class: 'float-right'

  .col-lg-4
    .box-white
      Kreinto: #{display_user(@event.user)}
      = display_user(@event.user)
    - if user_signed_in? && current_user.is_owner_of(@event)
      .box-white
        .lead Aldonilo
        = form_tag(attachment_upload_path(@event), multipart: true) do
          .form-group
            = label_tag('Alŝultu fotojn', nil, for: 'attachment_upload_field')
            = file_field_tag(:file, name: 'file', id: 'attachment_upload_field', class: 'form-control-file')
            = hidden_field_tag(:record_type, @event.class)

          .buttons-footer
            = submit_tag 'Alŝultu',  class: 'button-submit'
