- content_for :title do
  = @event.title
= render partial: 'fb_meta', locals: { event: @event }
= render partial: 'layouts/breadcrumb'

- if user_signed_in? && user_can_edit_event?(user: current_user, event: @event) && !@event.cancelled
  = render partial: 'nuligilo_modal'
= render partial: 'share_button_modal'

.row#evento
  .col-lg-8
    .box-white{class: event_color_class(@event)}
      .lead.d-flex
        %div
          #{event_flag(@event)} <span class="#{'cancelled' if @event.cancelled}">#{@event.title}</span>
        .ml-auto
          = render partial: 'options'

      - if @event.cancelled
        .alert.alert-danger
          %b NULIGITA
          = @event.cancel_reason
      #div
        .ml-2.float-right
          = render partial: 'kalendareto', locals: { event: @event, tz: @event.time_zone }
          = render partial: 'horoj', locals: { tz: @event.time_zone }
          = render partial: 'horzono' if cookies[:horzono]
          - unless @event.all_day?
            .text-right= render partial: 'horzono_elektilo'


        %h5.text-left= @event.description

      %p= display_event_tags(@event)

      - begin
        = @event.enhavo
      - rescue => e
        - Sentry.capture_exception(e)

      .clearfix
      = render partial: 'uploads'

      = render partial: 'videos'

      .buttons-footer.d-flex.justify-content-between
        = render partial: 'informi_pri_problemo'
        = link_to icon('fas', 'share-alt', 'Diskonigi'), '#', class: 'btn btn-sm btn-outline-info no-border', data: { target: '#shareModal', toggle: 'modal' }

        - if user_signed_in?
          = link_to icon('far', 'copy', 'Duobligi'), new_event_url(from_event: @event), class: 'btn btn-sm btn-outline-success no-border'
          - if user_can_edit_event?(user: current_user, event: @event)
            = link_to icon('fas', 'plus-circle', 'Video'), event_nova_video_url(@event.ligilo), class: 'btn btn-sm btn-outline-success no-border'
            = link_to icon('far', 'edit', 'Redakti'), @event.ligilo, class: "btn btn-sm btn-outline-primary no-border"

  .col-lg-4
    = render partial: 'event_reports_sidebar', locals: { event: @event }
    = render partial: 'informoj'

= render partial: 'event_scheme'
