<% badge_classes = {"upcoming" => "row-detailed-badge-upcoming", "open" => "row-detailed-badge-open", "past" => "row-detailed-badge-past"} %>

<div class="mb-5">
  <div class="lead">Detailed Row</div>

  <div class="row-detailed-list">
    <div class="row-detailed-header">
      <div class="row-detailed-date">Date</div>
      <div class="row-detailed-info">Event</div>
      <div>Status</div>
    </div>

    <% @events.each do |event| %>
      <div class="row-detailed">
        <div class="row-detailed-accent" style="background: <%= event[:color] %>;"></div>
        <div class="row-detailed-body">
          <div class="row-detailed-date">
            <%= event[:date_short] %><br><span class="row-detailed-year"><%= event[:year] %></span>
          </div>
          <div class="row-detailed-info">
            <div class="row-detailed-title"><%= event[:title] %></div>
            <div class="row-detailed-meta"><%= event[:location] %> &middot; <%= event[:user] %></div>
          </div>
          <span class="row-detailed-badge <%= badge_classes[event[:status]] %>"><%= event[:status].capitalize %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
