- events.each do |event|
  .row
    .col
      #{event_flag(event)} #{link_to event.title, event_path(event.ligilo), class: "link-blue"}
    .col.text-right.small= format_date(event.date_start, style: :short)
  .row.small
    .col.mt-3
      - event.reports.each do |report|
        = link_to report.label, report.url, target: '_blank', rel: 'noopener noreferrer'
        %i.fg-color-grayDark - #{report.user.name}
        %br
  %hr
