-#%button.button-notify-me{data: { target: '#notifyMeModal', toggle: 'modal' }, type: 'button'} Sciigu min

%p.text-center= link_to 'Sciigu min pri novaj eventoj', '#notifyMeModal', data: { toggle: 'modal' }, class: 'small'

/ Modal
#notifyMeModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'notifyMeModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      = form_tag new_recipient_path do
        .modal-header
          %h5#notifyMeModalLabel.modal-title Sciigu min
          %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button'}
            %span{'aria-hidden' => 'true'} ×
        .modal-body
          %p Elektu la landon pri kiu vi volas ricevi informojn pri novaj eventoj:
          .form-group
            = label_tag :country_id, 'Lando'
            = select_tag(:country_id, options_from_collection_for_select(Country.all, 'id', 'name'), id: 'country_select', class: 'form-control select2')
          .form-group
            = label_tag :email, 'Via retpoŝt-adreso'
            - email = user_signed_in? ? current_user.email : nil
            = email_field_tag :email, email, autocomplete: 'email', class: 'form-control', placeholder: 'Retpoŝt-adreso'
        .modal-footer
          %button.button-cancel{'data-dismiss' => 'modal', type: 'button'} Nuligi
          = submit_tag 'Registri', class: 'button-submit'

