.col-12.col-lg-4.offset-lg-4.col-sm-8.offset-sm-2
  .box-white
    .text-center
      %h3 Eventa Servo
      %p.fg-color-grayDark.font-weight-bold Ensalutu por krei novajn eventojn.

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.email_field :email, autocomplete: 'email', class: 'form-control', autofocus: true, placeholder: 'Retpoŝtadreso'
      .form-group
        = f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'Pasvorto'
        %small.form-text.text-right
          = link_to 'Mi forgesis mian pasvorton', new_password_path(resource_name)

      = f.submit 'Ensaluti', class: 'button-submit col-12'

    %br
    .text-divider.font-weight-bold.fg-color-grayDark AŬ
    %br
    = button_to "Ensaluti per Facebook", user_facebook_omniauth_authorize_path, class: 'facebook-button col-12', data: { turbo: false }

  = render partial: 'devise/shared/links'
