<br>
<table>
  <tbody>
    <tr>
      <td class="title" colspan="2">
        <%= link_to @event.title, event_url(code: @event.ligilo) %>
        <br>
        <span class="sub-title">
          <%= "#{@event.city} (#{@event.country.name})" %>
          <br>
          <%= event_date(@event) %>
        </span>
      </td>
    </tr>

    <tr>
      <td class="content" colspan="2">
        <p>
          <% @event.specoj.each do |tag| %>
            <div class="tag"><%= tag %></div>
          <% end %>
        </p>
        <p><%= @event.description %></p>
        <p><%= raw @event.content %></p>
        <br>
        <p class="button-blue text-center">
          <%= link_to 'LEGI PLI', event_url(code: @event.ligilo) %>
        </p>
      </td>
    </tr>

    <tr class="footer">
      <td>
        <%= link_to image_tag('https://eventaservo.org/eventa_servo_logo.png', size: 48), 'https://eventaservo.org' %>
      </td>
      <td>
        <%= yield(:event_footer) %>
      </td>
    </tr>
  </tbody>
</table>
