<br>
<table>
  <tbody>
    <tr>
      <td class="content" colspan="2">
        <p>
          Saluton.
        </p>

        <p>
          Iu havas demandon, volas raporti problemon aŭ informi vin pri la
          evento "<%= link_to @event.title, event_url(code: @event.ligilo) %>", kiun vi administras
          en Eventa Servo. Ĉu vi povas kontroli tion kaj korekti, se necese?
        </p>

        <p>
          Jen la mesaĝo:
        </p>

        <p class="block-quote">
          "<%= @message %>" - <i><%= @user.name %></i>
        </p>
      </td>
    </tr>

    <tr class="footer">
      <td>
        <%= link_to image_tag('https://eventaservo.org/eventa_servo_logo.png', size: 48), 'https://eventaservo.org' %>
      </td>
      <td>
        Eventa Servo estas senpaga servo de UEA kaj TEJO. Ĉu ĝi plaĉas al vi?
        Subteni retajn agantojn, ekzemple per 1 EUR semajne, eblas per la
        fonduso <%= link_to 'Instigo-Liberapay', 'https://liberapay.com/instigo' %>.
      </td>
    </tr>
  </tbody>
</table>
