Nova evento en #{@event.country.name} algoniĝis ĉe Eventa Servo. Jen pli da detaloj:
\
\
= @event.title.upcase
\------------------
#{@event.city} (#{@event.country.name})
=format_date(@event.date_start)
- if @event.date_end > @event.date_start
  ĝis #{format_date(@event.date_end)}
\
= @event.description
\
= @event.content
\
Kretinto: #{@event.user.name}
\
Vidu la eventon rekte en la paĝo:
= event_url @event.code
\
\
Ne plu volas ricevi informojn pri novaj eventoj en #{@event.country.name}? Malabonitu per tiu ligilo:
= delete_recipient_url @recipient.code
