%br
%table
  %tbody
    %tr
      %td.content{colspan: 2}
        %p
          Saluton #{@evento.user.name}.

        %p
          Vi nun estas la administranto de la evento #{link_to @evento.title, event_url(@evento.ligilo)}
          en Eventa Servo. Tio signifas ke vi povas ŝanĝi ĝian enhavon aŭ forigi ĝin.

        %p
          Ni invitas vin aldoni informojn pri eventoj, kunvenoj kaj okazaĵoj al Eventa Servo.
          Tion vi povas fari ĉu aldonante novan eventon, ĉu duobligante ekzistantan.

        %p Sukceson kun via agado!
        %p.button-blue.text-center
          = link_to 'VIDI LA EVENTAN PAĜON', event_url(@evento.ligilo)

    %tr.footer
      %td
        = link_to image_tag('https://eventaservo.org/eventa_servo_logo.png', size: 48), 'https://eventaservo.org'
      %td
        Eventa Servo estas senpaga servo de UEA kaj TEJO. Ĉu ĝi plaĉas al vi?
        Subteni retajn agantojn, ekzemple per 1 EUR semajne, eblas per la
        fonduso #{link_to 'Instigo-Liberapay', 'https://liberapay.com/instigo'}.
