<br>
<table>
  <tbody>
    <tr>
      <td class="content" colspan="2">
        <p>
          Saluton.
        </p>
        <p>
          Vi indikis en la retejo de <%= link_to "Eventa Servo", "eventaservo.org" %>,
          ke la jena evento interesas vin: <%= link_to @event.title, event_url(code: @event.ligilo) %>.
        </p>
        <p><%= @reminder_message %></p>

        <p class="button-blue text-center">
          <%= link_to 'VIDI LA EVENTAN PAĜON', event_url(code: @event.ligilo) %>
        </p>

        <br>
        <p style="font-size: small; color: gray;">
          Vi ricevas ĉi tiun mesaĝon, ĉar vi indikis en la retejo <%= link_to "Eventa Servo", "eventaservo.org" %> ke vi
          interesiĝas pri specifa evento.
          Por ne plu ricevi ĉi tiajn mesaĝojn, sufiĉas ne plu alklaki la butonon "Mi interesiĝas".
        </p>
        <br>
      </td>
    </tr>
    <%= render 'email_footer' %>
  </tbody>
</table>
