= @event.title
\------------------
#{@event.city} (#{@event.country.name})
=format_date(@event.date_start)
- if @event.date_end > @event.date_start
  Äis #{format_date(@event.date_end)}
\
= @event.description
\
= ActionView::Base.full_sanitizer.sanitize(@event.content)
\
Kreinto: #{@event.user.name}
\
= event_url @event.code
