.header
  = link_to 'https://eventaservo.org', class: 'links' do
    %h1 Eventa Servo

%h3.text-center
  Eventoj kiuj okazos inter
  %br
  = event_date(Event.new(date_start: Time.zone.today, date_end: Time.zone.today + 7.days)).gsub(' - ',' kaj ')

- if @events.empty?
  = render partial: 'no_events'
- else
  = render partial: 'event_list'

%br
.text-center
  .button-blue= link_to 'Diskonigi mian eventon', new_event_url
%br
.text-center.small
  %br
  Se vi ne plu volas ricevi la Semajnan Resumon, eblas #{link_to 'malaboni', edit_user_registration_url}.