.box-white
  .text-center
    %h1 Internacia kalendaro #{@jaro}
    .d-flex.justify-content-around
      = link_to("< #{@jaro - 1}", internacia_kalendaro_url(jaro: @jaro - 1, eventoj: params[:eventoj]), class: 'btn btn-outline-primary btn-sm')
      %span Eventoj: #{@eventoj.count}
      = link_to("#{@jaro + 1} >", internacia_kalendaro_url(jaro: @jaro + 1, eventoj: params[:eventoj]), class: 'btn btn-outline-primary btn-sm')

  - if params[:eventoj] == 'hu'
    .box-white.bg-color-grayLighter.d-flex.small
      = image_tag('eventojhu.gif', size: '128x128')
      .div
        %p La suba internacia listo de renkontiĝoj estas prizorgata de Eventa Servo. Esperanto-Centro EVENTOJ / Lingvo-Studio en Budapeŝto lanĉis ĉi tian liston en 1996 kaj kunlaboras kun Eventa Servo ekde 2020.
        %p Vi havas la eblon senpage #{link_to('registriĝi', '/r')} en la retejo de Eventa Servo. Post registriĝo, vi povos mem aldoni vian aranĝon kaj ĝin ŝanĝi aŭ forigi. Se vi preferas sendi informojn pri via evento per retmesaĝo, tiam uzu por tio #{link_to('ĉi tiun formularon', 'http://eventoj.hu/kalendaro-formularo.php', target: '_blank')}. Ni tiam aldonos la informojn al Eventa Servo por vi.
        %p Se vi utiligas tiun ĉi liston, bonvolu mencii la fonton: #{link_to('http://www.eventoj.hu', 'http://www.eventoj.hu', target: '_blank')}.
        %p Ni dankas vian helpon diskonigi tiun ĉi servon!

  - @eventoj.grouped_by_months.map do |dato, eventoj|
    %br
    %h3.text-divider= l(dato, format: '%B').upcase
    .row
      - eventoj.each do |e|
        .col-12
          = event_flag(e)
          %strong= link_to(e.title, event_url(e.ligilo))
          = display_organizations_for_event(e)
          %p.small
            %strong #{event_date(e)} en #{e.city}
            %br
            = e.description
          %hr
