.row
  .col-lg-8.offset-lg-2
    .box-white
      .lead
        = params[:action] == 'new' ? 'Nova organizo' : 'Redakti organizon'

      = form_for(@organizo, url: (organization_url(@organizo.short_name) if params[:action].in? %w(edit update))) do |f|
        = error_handling(@organizo)

        .form-group
          = f.label :name, 'Nomo'
          = f.text_field :name, class: 'form-control', autofocus: true, required: true

        .form-group
          = f.label :short_name, 'Mallonga nomo'
          = f.text_field :short_name, class: 'form-control', required: true
          %small.form-text.text-muted Ne uzu spacojn aŭ specialajn signojn. Vi rajtas uzi _ kaj -

        .row
          .form-group.col-12.col-md-6
            = f.label :url, 'Reteja adreso (URL)'
            = f.text_field :url, class: 'form-control'
          .form-group.col-12.col-md-6
            = f.label :youtube, 'YouTube-kanalo (URL)'
            = f.text_field :youtube, class: 'form-control'

        .row
          .form-group.col-12.col-md-6
            = f.label :email, 'Retpoŝtadreso'
            = f.text_field :email, class: 'form-control', type: 'email'
          .form-group.col-12.col-md-6
            = f.label :phone, 'Telefon-numero'
            = f.text_field :phone, class: 'form-control'

        .form-group
          = f.label :address, 'Adreso'
          = f.text_field :address, class: 'form-control'

        .row
          .form-group.col-12.col-md-6
            = f.label :city, 'Urbo (aŭ loko)'
            = f.text_field :city, class: 'form-control'
          .form-group.col-12.col-md-6
            = f.label :country_id, 'Lando'
            = f.select(:country_id, options_from_collection_for_select(Country.all, 'id', 'name', @organizo.country_id), {}, class: 'form-control select2-input')

        .form-group
          = f.label :description, 'Priskribo'
          = f.rich_text_area :description, class: 'form-control', style: 'height: 15em; overflow-y: auto;'

        .form-group
          .text-divider Emblemo
          %br
          - if @organizo.logo.attached?
            .d-flex.flex-column.align-items-center.justify-content-center
              = organization_logo(@organizo, size: :large)
              .form-check
                = check_box_tag :delete_logo, true, false, class: 'form-check-input'
                = label_tag 'delete_logo', 'Forviŝi emblemon', class: 'form-check-label'
                %p (aŭ alŝutu novan por anstataŭigi ĝin)

          = f.file_field :logo, class: 'form-control-file', accept: 'image/gif,image/jpeg,image/png'

        .buttons-footer
          = link_to 'Nuligi', organizations_url, class: 'button-cancel'
          = f.submit 'Registri', class: 'button-submit'
