%h4.text-center
  = icon('fas', 'building', 'ĈEFORGANIZOJ', class: 'fg-color-info')

.row
  - organizations.each do |organization|
    .col-12.col-md-6.mb-2
      = link_to organization_url(organization.short_name), class: 'card-link' do
        .card
          .card-header.bg-info.fg-color-white.text-center
            = organization.name
          .card-body
            - if organization.logo.attached?
              = image_tag url_for(organization.logo), style: 'float: left; max-width: 64px;', class: 'mr-2'

            = organization.description.to_plain_text.first(120) + "..."
