= link_to organization_url(organizo.short_name), class: "es-list__row" do
  .col-lg-1.col-2
    = organization_logo(organizo, size: :medium)
  .col-lg-9.col-6.align-self-center
    = organizo.name
  .col-lg-1.col-2.text-center.align-self-center
    = organizo.eventoj.count
  .col-lg-1.col-2.text-center.align-self-center
    = organizo.uzantoj.count
