.box-white
  .box-header Uzantoj
  .box-body
    .text-divider Administrantoj
    - @organizo.administrantoj.order(:name).each do |u|
      %br
      = display_user(u)
      - if user_signed_in? && current_user.administranto?(@organizo)
        = link_to icon('fas', 'star', class: 'fg-color-yellow'), organization_estrighu_url(@organizo.short_name, u.username)
      - else
        = icon('fas', 'star', class: 'fg-color-yellow')
      %br

    %br
    %br
    .text-divider Membroj
    - @organizo.ne_estroj.order(:name).each do |u|
      %br
      = display_user(u)

      - if user_signed_in? && current_user.administranto?(@organizo)
        = link_to icon('far', 'star', class: 'fg-color-gray'), organization_estrighu_url(@organizo.short_name, u.username)
        = link_to icon('fas', 'minus-circle', class: 'fg-color-red'),
          organization_forighu_url(@organizo.short_name, u.username),
          data: { confirm: 'Ĉu vi certas ke vi volas forigi la uzanton el la organizo?' }
      %br

    - if user_signed_in? && current_user.administranto?(@organizo)
      %br
      %br
      .text-divider Aldoni uzanton
      = form_tag organization_aldoni_uzanton_url(@organizo.short_name) do
        .form-group
          = select_tag(:id, options_from_collection_for_select(User.all.order(:name), :id, :name), class: 'form-control select2-input', required: true)
        = submit_tag 'Aldoni', class: 'button-submit col-12'
