.box-white
  %h1 Organizoj
  - if user_signed_in?
    %p= link_to icon('fas', 'plus-circle', 'Krei novan organizon'), new_organization_url, class: 'small fg-color-green'

  = form_tag organizations_url, method: :get, class: 'mb-3' do
    = text_field_tag :serchi, nil, class: 'form-control col-12', autofocus: true, placeholder: 'Serĉi'
    -#.col-1= button_tag icon('fas', 'search'), class: 'btn btn-sm btn-outline-link'

  - if params[:serchi].present?
    .row.col-12
      Serĉas:
      = link_to icon('fas', 'times', params[:serchi]), organizations_url, class: 'btn btn-sm btn-link'

  .row
    - @organizoj.each do |organizo|
      .col-lg-4.col-md-6.col-12
        = link_to organization_url(organizo.short_name), class: 'card-link' do
          = render partial: 'organization_card', locals: { organizo: organizo }

  - if @organizoj.size.zero?
    .text-center
      Neniu rezulto

  - if defined? @pagy
    - if @pagy.try(:pages) > 1
      .d-flex.justify-content-center.small= raw pagy_bootstrap_nav(@pagy)
