.box-white
  - if user_signed_in?
    %p= link_to icon('fas', 'plus-circle', 'Krei novan organizon'), new_organization_url, class: 'small fg-color-green'

  - unless params[:serchi].present?
    %hr

  .es-list
    %h4.text-center
      %i.fas.fa-users.fg-color-info
      ORGANIZOJ

    = form_tag organization_search_url, method: :get, id: 'o_search_form', remote: true, class: 'mb-3' do
      = text_field_tag :serchi, nil, class: 'form-control col-12', autofocus: true, placeholder: 'Serĉi organizon'

    - if params[:serchi].present?
      .row.col-12
        Serĉas:
        = link_to icon('fas', 'times', params[:serchi]), organizations_url, class: 'btn btn-sm btn-link'

    #o_search_results
      = render partial: "organizations/search_results"

