.row
  .col-lg-8
    .box-white
      .organization-header
        = organization_logo(@organizo, size: :large)
        %p= @organizo.name

      %p
        = link_to root_url(o: @organizo.short_name) do
          Venontaj eventoj: #{@organizo.eventoj.venontaj.count}

      - if user_signed_in? && current_user.organizestro?(@organizo)
        .buttons-footer
          = link_to 'Redakti organizon', edit_organization_url(@organizo.short_name), class: 'btn btn-sm btn-outline-primary'

  .col-lg-4
    = render partial: 'uzantoj'
