.row
  .col-lg-8
    .box-white
      .organization-header
        = organization_logo(@organizo, size: :large)
        %p= @organizo.name

      .d-flex.justify-content-around
        %span= icon('far', 'calendar', @organizo.eventoj.count)
      %p
        = link_to "Listigi venontajn eventojn de #{@organizo.short_name}", root_url(o: @organizo.short_name)

      - if user_signed_in? && current_user.administranto?(@organizo)
        .buttons-footer
          = link_to 'Redakti organizon', edit_organization_url(@organizo.short_name), class: 'btn btn-sm btn-outline-primary'

  .col-lg-4
    = render partial: 'uzantoj'
