.row
  .col-lg-8
    .box-white
      %h1
        = @organizo.name
      - if current_user.in? @organizo.administrantoj
        %p= link_to 'Redakti organizon', edit_organization_url(@organizo.short_name), class: 'fg-color-blue'

      - if @organizo.logo.attached?
        = image_tag @organizo.logo.variant(resize: '128x128')

      - @organizo.eventoj.each do |evento|
        .col-12.col-md-4
          = render partial: 'events/card', locals: { event: evento }

  .col-lg-4
    .box-white
      .box-header Uzantoj
      .box-body
        - @organizo.uzantoj.each do |u|
          %p= u.name
