- content_for :title do
  = @organizo.name
= render 'organization_meta'

.row
  .col-lg-8
    .box-white
      .lead
        = montras_flagon(@organizo.country) unless @organizo.country.nil?
        = @organizo.name
        %span.float-right
          = link_to icon('far', 'calendar-alt'),
            webcal_organizo_url(short_name: @organizo.short_name, protocol: :webcal, format: :ics),
            data: { target: '#webcalModal', toggle: 'modal' }

      .clearfix.mb-2
        = organization_logo(@organizo, size: :large, html_class: 'float-left mr-2')
        = @organizo.description
      %p.small
        = montras_telefonnumeron(@organizo.phone) + raw('<br/>') if @organizo.phone.present?
        = montras_retpaghon(@organizo.url) + raw('<br/>') if @organizo.url.present?
        = montras_retposhtadreson(@organizo.email) + raw('<br/>') if @organizo.email.present?
        - if @organizo.youtube.present?
          = link_to icon('fab', 'youtube', 'YouTube-kanalo'), @organizo.youtube, target: :_blank, class: 'fg-color-link mr-1'
          %br
        - if @organizo.country.present? && (@organizo.country_id != 99999)
          = montras_adreson(@organizo.full_address)

      .lead.mt-3 Eventoj

      - if @eventoj.venontaj.any?
        .text-divider Venontaj eventoj
        %p.small
          = link_to "Listigi venontajn eventojn de #{@organizo.short_name} en la ĉefa paĝo", root_url(o: @organizo.short_name)
        - @eventoj.venontaj.order(:date_start).each do |e|
          = link_to event_path(e.ligilo), class: 'item-row small' do
            .col-5 #{event_flag e} #{e.city} - #{format_date(e.komenca_dato, style: :short)}
            .col{class: ("cancelled" if e.cancelled)} #{e.title}

      %br

      - if @eventoj.pasintaj.any?
        .text-divider Pasintaj eventoj
        - @eventoj.pasintaj.order(date_start: :desc).each do |e|
          = link_to event_path(e.ligilo), class: 'item-row small' do
            .col-5 #{event_flag e} #{e.city} - #{format_date(e.date_start, style: :short)}
            .col{class: ("cancelled" if e.cancelled)} #{e.title}

      - if user_signed_in? && current_user.administranto?(@organizo)
        .buttons-footer
          = link_to 'Redakti organizon', edit_organization_url(@organizo.short_name), class: 'btn btn-sm btn-outline-primary'

  - unless params['iframe']
    .col-lg-4
      = render partial: 'uzantoj'


#webcalModal.modal.fade{ aria: { hidden: :true, labelledby: 'shareModalCenterTitle' } , role: 'dialog', tabindex: '-1' }
  .modal-dialog.modal-lg.modal-dialog-centered{role: 'document'}
    .modal-content

      .modal-header
        %h5#shareModalCenterTitle.modal-title Aboni organizan kalendaron
        %button.close{'aria-label': 'Fermi', 'data-dismiss': 'modal', type: 'button'}
          %span{'aria-hidden': :true} ×

      .modal-body
        %p
          Kiam oni abonas organizan kalendaron, ĉiuj eventoj estas aldonataj al la kalendaro kaj ajnaj eventaj ŝanĝoj
          aŭtomate ĝisdatiĝas.

        %p
          Jen Webcal-ligilo por aboni la kalendaron de eventoj de #{@organizo.short_name}.
          Uzu ĝin en programoj kiel Google Calendar, iCal aŭ similaj. Se vi bezonas klarigon kiel uzi la ligilon, legu
          #{link_to 'ĉi tiun artikolon', 'https://github.com/eventaservo/eventaservo/wiki/Webcal-(Google-Calendar---iCal)', target: :'_blank'}.

        .input-group
          .input-group-prepend
            .input-group-text#copy_button= link_to 'Kopii', 'javascript:;'
          = text_field_tag nil, webcal_organizo_url(short_name: @organizo.short_name, format: :ics), id: 'webcalurl', readonly: :true, class: 'form-control bg-color-white'

        %br
        %p
          Kelkaj kalendaraj programoj ebligas aŭtomate aboni la kalendaron se oni alklakas specifan ligilon. Vi povas
          provi tion per #{link_to 'ĉi tiu ligilo', webcal_organizo_url(short_name: @organizo.short_name, protocol: :webcal, format: :ics)}.

      .modal-footer
        %button.btn.btn-sm.btn-outline-secondary{'data-dismiss': 'modal', type: 'button'} Fermi
