.box-white.small
  .lead Uzantoj
  .item-row-header
    .col Nomo
    .col Retpoŝtadreso
    .col-2 Urbo
    .col-2 Lando
    .col Uzantnomo
    .col-1 Eventoj

  - @users.each do |user|
    = link_to admin_user_path(user), class: 'item-row' do
      .col
        = user.name
        = icon('fab', 'facebook') if user.provider == 'facebook'
      .col= user.email
      .col-2= user.city
      .col-2= user.country.name
      .col
        %object= link_to user.username, events_by_username_path(user.username)
      .col-1
        #{user.events.count}
