/ Merge (Kunigi) modal
#mergeModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'notifyMeModalLabel', role: 'dialog', tabindex: '-1'}
  .modal-dialog{role: 'document'}
    .modal-content
      = form_tag admin_user_kunigi_path(@user.id) do
        .modal-header
          %h5#notifyMeModalLabel.modal-title Kunigi kontojn
        .modal-body
          .alert.alert-danger.text-center
            Atentu! Estu certa pri tiu ago!
            %br
            %span.font-weight-bold NE EBLAS MALFARI ĜIN
          %p
            La kunigado de kontoj ŝanĝas el la originala konto al la cela konto:
          %ul
            %li La kreanton de eventoj
            %li La membrecon de organizoj

          %p.font-weight-bold La originala konto estos forviŝita.

          %hr
          .form-group
            = label_tag :new_user_id, 'Cela konto'
            = select_tag(:id, options_from_collection_for_select(User.all.order(:name), :id, :name), class: 'form-control select2-input', required: true)
        .modal-footer
          %button.button-cancel{'data-dismiss': 'modal', type: 'button'} Nuligi
          = submit_tag 'Registri', class: 'button-submit'



%h1.display-4= @user.name
.alert.alert-danger.text-center
  UZANT-PAĜO POR EVENTASERVO-ADMINISTRANTOJ

.row
  .col-6
    .box-white
      .lead Personaj informoj
      = form_for(@user, url: admin_user_path(@user), method: :patch, class: 'form-horizontal') do |f|
        .form-group.row
          = f.label :city, class: 'col-3 col-form-label text-right'
          .col-9
            = f.text_field :city, class: 'form-control'

        .form-group.row
          = f.label :country_id, class: 'col-3 col-form-label text-right'
          .col-9
            = f.select(:country_id, options_from_collection_for_select(Country.not_online, 'id', 'name', @user.country_id), {}, class: 'form-control select2-input')

        .buttons-footer
          = f.submit 'Registri', class: 'btn btn-sm btn-primary'

  .col-6
    .box-white
      .lead Aliaj iloj
      = link_to 'Kunigi kontojn', '#mergeModal', data: { toggle: 'modal' }
