<div class="col-12 col-lg-8 offset-lg-2 col-md-8 offset-md-2">
  <div class="box-white">
    <h2>Krei novan reklamon</h2>
    <p>Bild-grandeco: 400x200 px</p>

    <%= form_with model: @ad, method: :post, url: admin_reklamoj_index_url, local: true do |f| %>
      <div class="form-group">
        <%= f.label :url, "URL" %>
        <%= f.text_field :url, class: "form-control", required: true %>
      </div>
      <%= f.file_field :image, class: 'form-control-file', accept: 'image/*', required: true %>

      <div class="buttons-footer">
        <%= link_to 'Nuligi', admin_reklamoj_index_url, class: 'button-cancel' %>
        <%= f.submit 'Registri', class: 'button-submit' %>
      </div>
    <% end %>
  </div>
</div>
