.col-12.col-lg-8.offset-lg-2.col-md-8.offset-md-2
  .box-white
    .lead Krei novan reklamon
    %p Bild-grandeco: 400x200 px

    = form_with model: @ad, method: :post, url: admin_reklamoj_index_url, local: true do |f|
      .form-group
        = f.label :url, "URL"
        = f.text_field :url, class: "form-control", required: true
      = f.file_field :image, class: 'form-control-file', accept: 'image/*', required: true

      .buttons-footer
        = link_to 'Nuligi', admin_reklamoj_index_url, class: 'button-cancel'
        = f.submit 'Registri', class: 'button-submit'
