%li.nav-item.dropdown
  %a#navbarDropdown.nav-link.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button'}
    = icon('fas', 'cog', 'Admin')
  .dropdown-menu{'aria-labelledby' => 'navbarDropdown'}
    = link_to 'Eventoj', admin_eventoj_url, class: 'dropdown-item'
    = link_to 'Landoj', admin_countries_url, class: 'dropdown-item'
    = link_to 'Forigitaj eventoj', admin_forigitaj_eventoj_path, class: 'dropdown-item'
    = link_to 'Sciiga listo', admin_notification_list_path, class: 'dropdown-item'
    = link_to 'Eventoj sen lokoj', admin_senlokaj_eventoj_path, class: 'dropdown-item'
    .dropdown-divider
    = link_to 'Uzantoj', admin_users_url, class: 'dropdown-item'
