%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Mondo', root_path

    - if params[:code].present? && params[:controller] == 'events'
      - event = Event.joins(:country).find_by_code(params[:code])
      %li.breadcrumb-item= link_to event.country.continent, events_by_continent_path(event.country.continent)
      %li.breadcrumb-item= link_to event.country.name, events_by_country_path(event.country.continent, event.country.name)
      %li.breadcrumb-item= link_to event.city, events_by_city_url(event.country.continent, event.country.name, event.city)

    - elsif params[:action] == 'by_username'
      - user = User.find_by(username: params[:username])
      %li.breadcrumb-item= link_to user.name, events_by_username_path(params[:username])

    -# Kontinento
    - if params[:continent].present?
      %li.breadcrumb-item= link_to params[:continent], events_by_continent_path(params[:continent])

    -# Lando
    - if params[:country_name].present?
      %li.breadcrumb-item= link_to params[:country_name], events_by_country_path(params[:continent], params[:country_name])

    -# Urbo
    - if params[:city_name].present?
      %li.breadcrumb-item= link_to params[:city_name], events_by_city_path(params[:continent], params[:country_name], params[:city_name])

    -#- else
    -#  %li.breadcrumb-item= link_to @country.name, events_by_country_path(@country.name)
    -#  - if params[:city_name].present?
    -#    %li.breadcrumb-item= link_to params[:city_name], events_by_city_url(@country.name, params[:city_name])

