%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Mondo', root_path(s: params[:s].presence, t: params[:t].presence)

    - if params[:code].present? && params[:controller] == 'events'
      - event = Event.joins(:country).lau_ligilo(params[:code])
      %li.breadcrumb-item= link_to event.country.continent, events_by_continent_path(event.country.continent_url)
      - unless event.universala?
        %li.breadcrumb-item= link_to event.country.name, events_by_country_path(event.country.continent_url, event.country.name)
        %li.breadcrumb-item= link_to event.city, events_by_city_url(event.country.continent_url, event.country.name, event.city)

    - elsif params[:action] == 'by_username'
      - user = User.find_by(username: params[:username])
      %li.breadcrumb-item= link_to user.name, events_by_username_path(params[:username])

    -# Kontinento
    - if params[:continent].present?
      %li.breadcrumb-item= link_to @continent, events_by_continent_path(params[:continent], s: params[:s].presence, t: params[:t].presence)

    -# Lando
    - if params[:country_name].present?
      %li.breadcrumb-item= link_to @country.name, events_by_country_path(params[:continent], params[:country_name], s: params[:s].presence, t: params[:t].presence)

    -# Urbo
    - if params[:city_name].present?
      %li.breadcrumb-item= link_to params[:city_name].titleize, events_by_city_path(params[:continent], params[:country_name], params[:city_name], s: params[:s].presence, t: params[:t].presence)

    .ml-auto
      = yield :breadcrumb_right
