<div class="footer">
  Versio <%= Eventaservo::Application::VERSION %>
  |
  <%= mail_to 'kontakto@eventaservo.org', 'Kontaktu nin', subject: 'Pri Eventa Servo' %>
  |
  <%= link_to 'Prie', prie_path %>
  |
  <span class="dropdown">
    <a id="footerMenu" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#">Pli...</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="footerMenu">
      <%= link_to 'Privateco', privateco_url, class: 'dropdown-item' %>
      <%= link_to 'Uzokondiĉoj', terms_url, class: 'dropdown-item' %>
      <%= link_to 'Ŝanĝoprotokolo', 'https://github.com/eventaservo/eventaservo/releases', target: :_blank, class: 'dropdown-item' %>
      <%= link_to icon('fas', 'rss', 'RSS'), events_rss_url, class: 'dropdown-item' %>
      <%= link_to icon('fas', 'server', 'Servilaj statoj'), "https://status.eventaservo.org", target: :_blank, class: 'dropdown-item' %>
    </div>
  </span>
  <%= "(#{Rails.env})" unless Rails.env.production? %>
</div>
