.footer
  Versio #{ApplicationController::VERSIO}
  |
  = mail_to 'kontakto@eventaservo.org', 'Kontaktu nin', subject: 'Pri Eventa Servo'
  |
  = link_to 'Prie', prie_path
  |
  %span.dropdown
    %a#footerMenu{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#'} Pli...
    .dropdown-menu.dropdown-menu-right{'aria-labelledby' => 'footerMenu'}
      = link_to 'Privateco', privateco_url, class: 'dropdown-item'
      = link_to icon('fas', 'rss', 'RSS'), events_rss_url, class: 'dropdown-item'
  = "(#{Rails.env})" unless Rails.env.production?

