.footer
  Versio #{ApplicationController::VERSIO}
  |
  = mail_to 'kontakto@eventaservo.org', 'Kontaktu nin', subject: 'Pri Eventa Servo'
  |
  = link_to 'Privateco', privateco_url
  |
  = link_to icon('fas', 'rss', 'RSS'), events_rss_url
  |
  = link_to 'Pri la projekto', prie_path
  = "(#{Rails.env})" unless Rails.env == 'production'
