%nav.navbar.navbar-expand-lg.navbar-dark.bg-success
  .d-flex.flex-nowrap
    %a.navbar-brand{href: root_url}
      = Rails.env.production? ? 'Eventa Servo' : Rails.env.upcase

    = render partial: 'layouts/navbar_search'

    %button.navbar-toggler{type: 'button',
      'data-toggle': 'collapse', 'data-target': '#navbar-supported-content',
      'aria-controls': 'navbar-supported-content', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
      %span.navbar-toggler-icon

  .collapse.navbar-collapse.justify-content-between#navbar-supported-content

    %ul.navbar-nav.mx-auto
      %li.nav-item
        = link_to icon('fas', 'calendar-plus', t("navbar.add_event")), new_event_path, class: 'nav-link'
      %li.nav-item
        = link_to icon('fas', 'building', t("navbar.organizations")), organizations_url, class: 'nav-link'

    %ul.navbar-nav
      = render 'layouts/navbar_tools'

    %ul.navbar-nav
      = render partial: 'layouts/uzanto'
