<!DOCTYPE html>
<html lang="eo">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta content="#28a745" name="theme-color" />

    <% if content_for?(:fb_meta) %>
      <%= yield(:fb_meta) %>
    <% elsif content_for?(:organization_meta) %>
      <%= yield(:organization_meta) %>
    <% else %>
      <meta content="website" property="og:type" />
      <meta content="<%= request.original_url %>" property="og:url" />
      <meta content="<%= yield(:og_title) || 'Eventa Servo' %>" property="og:title" />

      <% if request.path == '/users/sign_up' %>
        <meta content="Mi invitas vin registriĝi. Vi povos tiam mem aldoni kaj ŝanĝi eventojn." property="og:description" />
      <% else %>
        <meta content="<%= yield(:og_description) || 'La sistemo por diskonigi Esperanto-eventojn tutmonde!' %>" property="og:description" />
      <% end %>

      <meta content="<%= image_url('eventa_servo_facebook.jpg') %>" property="og:image" />
      <meta content="<%= image_url('eventa_servo_facebook.jpg') %>" property="og:image:secure_url" />
      <meta content="Eventa Servo" property="og:image:alt" />
      <meta content="315" property="og:image:height" />
      <meta content="600" property="og:image:width" />
    <% end %>

    <!-- Komunaj Facebook Open Graph informoj -->
    <meta content="Eventa Servo" property="og:site_name" />
    <meta content="243701312975059" property="fb:app_id" />

    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %> |
      <% end %>
      Eventa Servo
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= combobox_style_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "cssbundling", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application_pipeline' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= invisible_captcha_styles %>

    <%= auto_discovery_link_tag :rss, events_rss_url %>

    <%= render partial: "snippets/sentry" %>
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %>">
    <%= render partial: 'layouts/navbar' %>
    <div class="container">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
    <br>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
