<!DOCTYPE html>
<html lang="eo">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= combobox_style_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "cssbundling", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application_pipeline' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= auto_discovery_link_tag :rss, events_rss_url %>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
