!!!
%html{:lang => 'eo'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1, shrink-to-fit=no', :name => 'viewport'}/
    %meta{:content => '#28a745', :name => 'theme-color'}/

    %meta{content: 'website', property: 'og:type'}
    %meta{content: request.original_url, property: 'og:url'}
    %meta{content: 'Eventa Servo', property: 'og:title'}
    %meta{content: 'La sistemo por diskonigi esperantajn eventojn tutmonde!', property: 'og:description'}
    %meta{content: image_url('eventa_servo_facebook.jpg'), property: 'og:image'}
    %meta{content: image_url('eventa_servo_facebook.jpg'), property: 'og:image:secure_url'}
    %meta{content: 'Eventa Servo', property: 'og:image:alt'}
    %meta{content: '315', property: 'og:image:height'}
    %meta{content: '600', property: 'og:image:width'}

    -# Komunaj Facebook Open Graph informoj
    %meta{content: 'Eventa Servo', property: 'og:site_name'}
    %meta{content: '243701312975059', property: 'fb:app_id'}

    %title
      = "#{yield(:title)} | " if content_for?(:title)
      Eventa Servo

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = auto_discovery_link_tag :rss, events_rss_url

  %body.bg-color-white
    = render partial: 'layouts/navbar'
    .container-fluid
      = yield
    = render partial: 'layouts/footer'

